/* --- FOOTER TABS --- */

.footer__tabs .title {
	margin-bottom: 20px;
	color: var(--colorBlackZero);
}

.footer__tabs .tabs {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 20px;
	cursor: pointer;
	margin-bottom: 20px;
}

.footer__tabs .tab {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
	flex-grow: 1;
	padding: 25px;
	font-weight: 500;
	text-align: center;
	text-transform: uppercase;
	white-space: nowrap;
	border: 1px solid var(--colorGrayLight);
	border-radius: 20px;
	background-color: transparent;
	transition: all 0.75s;
}

.footer__tabs .tab-decor {
	width: 10px;
	height: 10px;
	background-color: var(--colorYellow);
	border-radius: 50%;
	transition: all 0.75s;
}

.footer__tabs .tab:hover {
	background-color: var(--colorWhite);
}


.footer__tabs .tab:hover .tab-decor {
/*	background-color: var(--colorYellow);*/
}

.footer__tabs .tab.active {
	background-color: var(--colorYellow);
	border-color: var(--colorYellow);
}

.footer__tabs .tab.active .tab-decor {
	background-color: var(--colorBlackThird);
}

.footer__tabs .tab-text {
	font-weight: 500;
}

.footer__tabs .content {
/*
	border: 1px solid #ccc;
	padding: 20px;
*/
}

.footer__tabs .content .tab-content:not(.active) {
	display: none;
}

.footer__tabs .content .tab-content.active {
	display: flex;
	gap: 140px;
}

.footer__tabs .content .info {
	flex-basis: calc((100% - 140px) * 0.375);
	max-width: calc((100% - 140px) * 0.375);
}

.footer__tabs .content .map {
	flex-basis: calc((100% - 140px) * 0.625);
	max-width: calc((100% - 140px) * 0.625);
	background: linear-gradient(45deg, black, transparent);
	border-radius: 20px;
}

.footer__tabs .address .title {
	font-size: 24px;
	font-weight: 700;
	line-height: 1;
}

.footer__tabs .contacts__item_main {
	margin-bottom: 50px;
}

.footer__tabs .contacts__item_main .footer__inner-title {
	margin-bottom: 24px;
}

.footer__tabs .contacts__item_main  .contacts__item_link {
	font-size: 64px;
	font-weight: 700;
	line-height: 1;
}

.footer__tabs .contacts__items .title {
	margin-bottom: 15px;
	white-space: nowrap;
	color: var(--colorBlackThird);
}

.footer__tabs .contacts__items {
	display: flex;
	flex-wrap: wrap;
	gap: 50px;
}

.footer__tabs .contacts__item:not(.contacts__item_main) {
	flex-basis: calc((100% - 50px) / 2);
	max-width: calc((100% - 50px) / 2);
}

.footer__tabs .contacts__item:not(.contacts__item_main) .contacts__item_link {
	font-size: 20px;
	line-height: 1.2;
	color: var(--colorBlackFourth);
}

.footer__tabs .header__top-navigation-link_whatsapp {
	width: 94px;
	height: 95px;
}

.footer__tabs .header__top-navigation-link_telegram {
	width: 77px;
	height: 78px;
}

.footer__tabs .info__bottom {
	display: flex;
	align-items: center;
	gap: 25px;
}

.footer__tabs .text__unifier {
	font-weight: 700;
	text-transform: uppercase;
}

.footer__tabs .socials {
	margin-top: 35px;
}

.footer__tabs .socials .footer__inner-title {
	margin-bottom: 18px;
}

/* --- / FOOTER TABS --- */



/* --- FOOTER-TOP --- */

.footer {
	color: var(--colorBlackThird);
}

.footer .address {
	font-style: normal;
	margin-bottom: 35px;
}

.footer__inner-title {
	font-size: 32px;
	font-weight: 700;
	line-height: 1;
}

.footer__top {
	margin-top: 100px;
	text-transform: uppercase;
}

.footer__top-navigation-inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.footer__top-navigation-list-item {
	font-size: 20px;
    font-weight: 600;
	border: 1px solid transparent;
/*	transition: all 0.5s;*/
	transition: transform 0.5s, border-bottom 0.5s, opacity 0.5s;
	will-change: transform, border-bottom, opacity;
}

.footer__top-navigation-list-item:hover {
	transform: translateY(-2.5px);
	border-bottom: 1px solid var(--colorBlackMain);
/*	text-decoration: underline;*/
	opacity: 0.9;
}

/* --- / FOOTER-TOP --- */



/* --- FOOTER-MIDDLE --- */

.footer__middle {
	display: flex;
	justify-content: space-between;
	gap: 80px;
}

.footer__middle .title {
	margin-bottom: 45px;
}

.footer__middle-navigation {
	display: flex;
	gap: 60px;
}

.footer__middle-navigation-inner {
	display: flex;
	flex-direction: column;
	gap: 25px;
}

.footer__middle .inner_right {
	padding-top: calc(32px + 16px);
}

.footer__middle-navigation-list-item {
	font-weight: 600;
}

.footer__middle .inner_left .footer__middle-navigation-link {
	display: inline;
	border-bottom: 1px solid transparent;
	transition: transform 0.75s, border-bottom 0.75s, opacity 0.75s;
	will-change: transform, border-bottom, opacity;
}

.footer__middle .inner_left .footer__middle-navigation-link:hover {
	border-bottom: 1px solid var(--colorBlackThird);
/*	transform: translateY(-2.5px);*/
	opacity: 0.75;
}

.footer__middle .inner_right .footer__middle-navigation-link {
	display: flex;
	align-items: center;
	gap: 18px;
}

.footer__middle .inner_right .footer__middle-navigation-link:first-of-type {
	margin-bottom: 80px;
}

.footer__middle .inner_right .footer__middle-navigation-link:last-of-type {
	margin-bottom: 30px;
}

.footer__middle .inner_right .footer__middle-navigation-link:hover {
	opacity: 0.75;
	filter: invert(0.05);
    transform: scale(1.01875);
}

.footer__middle .button-box {
	gap: 10px;
	margin-left: calc(76px + 18px);
}

.footer__middle .button {
    padding: 6px 20px;
	background-color: var(--colorYellow);
	border-color: var(--colorYellow);
}
	
.footer__middle .button:hover {
	background-color: var(--colorWhite);
	border-color: var(--colorWhite);
}

.footer__middle .button_decor .button__decor {
    background-color: var(--colorGrayDark);
}

/* --- / FOOTER-MIDDLE --- */



/* --- FOOTER-BOTTOM --- */

.footer__bottom {
	display: flex;
	align-items: center;
	gap: 180px;
	padding-bottom: 50px;
}

.footer__bottom .title {
	margin-bottom: 40px;
}

.footer__bottom .inner {
	flex-basis: calc((100% - 180px) / 2);
	max-width: calc((100% - 180px) / 2);
}

.footer__bottom .form {
/*	width: 300px;*/
	display: flex;
	flex-direction: column;
}

.footer__bottom .form input {
	background-color: var(--colorWhite);
}

.footer__bottom .form__input-container {
	position: relative; /* Для позиционирования кнопки */
	display: flex; /* Используем flex для выравнивания */
}

.footer__bottom .form__input-container .input[type="email"] {
	flex: 1;
	padding: 22px;
	padding-right: 180px;
	border: none;
	border-radius: 20px;
}

.footer__bottom .button {
	position: absolute;
	right: 15px;
	top: 50%;
	transform: translateY(-50%);
	padding: 7px 14px;
}

.footer__bottom .form__box {
	display: flex;
	align-items: center;
	gap: 18px;
	margin-bottom: 12px;
}

.form__unifier {
	font-size: 32px;
	font-weight: 700;
	text-transform: uppercase;
	color: var(--colorBlackThird);
}

.footer__bottom-navigation-list {
	display: flex;
	align-items: center;
	gap: 12px;
}

.footer__bottom-navigation-link {
	width: 33px;
	height: 33px;
	background-repeat: no-repeat;
	background-size: cover;
	transition: all 0.75s;
}

.footer__bottom-navigation-link_rutube {
	background-image: url("../../icons/footer/icon-footer-socials_rtb.svg");
}

.footer__bottom-navigation-link_youtube {
	background-image: url("../../icons/footer/icon-footer-socials_utube.svg");
}

.footer__bottom-navigation-link_vk {
	background-image: url("../../icons/footer/icon-footer-socials_vk.svg");
}

.footer__bottom-navigation-link_telegram {
	background-image: url("../../icons/footer/icon-footer-socials_tlgrm.svg");
}

.footer__bottom-navigation-link_rutube:hover, 
.footer__bottom-navigation-link_youtube:hover, 
.footer__bottom-navigation-link_vk:hover, 
.footer__bottom-navigation-link_telegram:hover {
	filter: invert(0.05);
	transform: scale(1.125);
}

.copyright {
	margin-bottom: 12px;
	font-weight: 700;
	text-transform: uppercase;
}

/* --- / FOOTER-BOTTOM --- */



/* --- DIVIDER --- */

.footer__divider {
	height: 2px;
	background: var(--colorGrayAnother);
}

.footer__divider_mobile {
	display: none;
}

/* --- / DIVIDER --- */



/* --- ADAPTING --- */

@media (max-width: 1600px) {
	
	.footer__tabs .content .tab-content.active {
		gap: 40px;
	}
	
	.footer__tabs .content .info {
		flex-basis: calc((100% - 40px) * 0.4);
		max-width: calc((100% - 40px) * 0.4);
		flex-shrink: 0;
	}
	
	.footer__tabs .content .map {
		flex-basis: calc((100% - 40px) * 0.6);
		max-width: calc((100% - 40px) * 0.6);
	}
	
	.footer__bottom {
		gap: 40px;
	}
	
	.footer__bottom .inner {
		flex-basis: calc((100% - 40px) / 2);
		max-width: calc((100% - 40px) / 2);
	}

}
/* ↑↑↑ 1600px ↑↑↑ */



@media (max-width: 1440px) {
	
	.footer__tabs .contacts__item_main  .contacts__item_link {
		font-size: 48px;
	}
	
	.footer__tabs .content .info {
		flex-basis: calc((100% - 40px) * 0.45);
		max-width: calc((100% - 40px) * 0.45);
	}
	
	.footer__bottom .form__box {
		flex-direction: column;
		align-items: flex-start;
	}
	
}
/* ↑↑↑ 1440px ↑↑↑ */



@media (max-width: 1366px) {
	
	.footer__tabs .content .info {
		flex-basis: calc((100% - 40px) * 0.5);
		max-width: calc((100% - 40px) * 0.5);
	}
	
	.footer__bottom .form {
		gap: 20px;
	}
	
	.footer__top-navigation-list-item {
		font-size: 18px;
	}

	.footer__tabs .content .tab-content.active {
		flex-direction: column-reverse;
	}
	
	.footer__tabs .content .map {
		flex-basis: 100%;
		max-width: 100%;
		min-height: 400px;
	}
	
	.footer__tabs .content .info {
		flex-basis: 100%;
		max-width: 100%;
	}
	
}
/* ↑↑↑ 1366px ↑↑↑ */



@media (max-width: 1280px) {


}
/* ↑↑↑ 1280px ↑↑↑ */



@media (max-width: 1180px) {
	
	.footer__top-navigation-list-item {
		font-size: 16px;
	}
	
}
/* ↑↑↑ 1180px ↑↑↑ */



@media (max-width: 1024px) {
	
	.footer__tabs .tabs {
		padding-bottom: 10px;
		overflow-x: auto;
	}
	
	.footer__top-navigation-inner {
		flex-wrap: wrap;
		gap: 40px;
		row-gap: 20px;
		justify-content: flex-start;
	}
	
	.footer__top-navigation-list-item {
		font-size: 20px;
	}

	.footer__middle {
		gap: 30px;
		flex-direction: column;
	}
	
	.footer__middle .inner_right {
		padding-top: 0;
	}
	
	.footer__middle .inner_right .footer__middle-navigation-link:first-of-type {
		margin-bottom: 20px;
	}
	
	.footer__middle .inner_right .footer__middle-navigation-link {
		gap: 8px;
	}
	
	.footer__middle .inner_right .footer__inner-title {
		font-size: 24px;
	}
	
	.footer__middle-navigation-link-icon-decor {
		transform: scale(0.75);
	}
	
	.footer__middle .button-box {
		margin-left: 0;
	}
	
	.footer__bottom {
		flex-direction: column;
		gap: 20px;
	}

	.footer__bottom .inner {
		flex-basis: 100%;
		max-width: 100%;
	}
		
	.footer__bottom .form__box {
		flex-direction: row;
		align-items: center;
	}
	
}
/* ↑↑↑ 1024px ↑↑↑ */



@media (max-width: 819px) {
	
	.footer__bottom .form__box {
		flex-direction: column;
		align-items: flex-start;
		margin-bottom: 0;
	}

}
/* ↑↑↑ 819px ↑↑↑ */



@media (max-width: 768px) {
	

}
/* ↑↑↑ 768px ↑↑↑ */



@media (max-width: 767px) {
	
/*
	.footer__bottom .form__box {
		flex-direction: column;
		align-items: flex-start;
	}
*/
	
	.footer__tabs .content .tab-content.active {
		flex-direction: column;
	}
	
	.footer__tabs .content .info {
		display: none;
	}
	
	.footer__middle-navigation-inner {
		font-size: 20px;
		text-transform: uppercase;
	}
	
	.footer__middle-navigation-inner:not(.footer__middle-navigation-inner:first-of-type) {
		display: none;
	}
	
	.footer__middle .inner_right .footer__middle-navigation-link {
		transform: translateX(-20px);
	}
	
	.footer .button-box {
		justify-content: center;
	}
	
	.footer__bottom {
		gap: 25px;
	}
	
	.footer__bottom .title {
        margin-bottom: 20px;
        font-size: 24px;
        text-align: center;
	}
	
	.footer__bottom-navigation-link {
		width: 70px;
		height: 70px;
	}
	
	.footer__bottom .form__input-container {
		gap: 20px;
		width: 100%;
	}
	
	.footer__bottom .button {
		position: static;
		transform: unset;
	}
	
	.footer__tabs .tab {
    	padding: 12.5px 25px;
	}

}
/* ↑↑↑ 767px ↑↑↑ */



@media (max-width: 640px) {
	
	.footer__bottom .form__input-container {
		flex-direction: column;
		gap: 10px;
	}
	
	.footer__bottom .button {
		width: 100%;
		padding: 15px;
	}
	
}
/* ↑↑↑ 640px ↑↑↑ */



@media (max-width: 534px) {

	.footer__top-navigation-inner {
		flex-direction: column;
		flex-wrap: nowrap;
		gap: 10px;
		align-items: flex-start;
	}
	
	.footer__top {
		margin-top: 40px;
	}

}
/* ↑↑↑ 534px ↑↑↑ */


