/* --- SECTIONS --- */

body, html {
	height: 100%;
	scroll-behavior: smooth; /* плавная прокрутка */
}

html {
	position: relative; /* ↓ */
	overflow-x: hidden; /* запрет прокрутки при открытии модальных окон */
}

body {
	overflow-x: hidden; /* запрет прокрутки при открытии модальных окон */
	height: auto; /* убирает дополнительный вертикальный у body, добавляемый предыдущим свойством */
	color: var(--colorBlackMain); /* default color */
	background-image: url(../../images/main/body-background.png);
	font-family: "Montserrat", Arial, sans-serif; /* all text */
	font-optical-sizing: auto;
	font-style: normal;
	font-size: 16px; /* default size */
	font-weight: 400; 
	line-height: 1.5;
}

.wrapper-height {
/*	min-height: 100%;*/
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

.main {
	flex-grow: 1; /* растягивает пространство между хэдером и футером */
}

.wrapper {
	max-width: 1720px; /* +20px side padding */
	margin: 0 auto;
	padding: 0 10px;
	flex-basis: 100%; /* чтобы не задавать отдельно width */
}

.wrapper--menu {
	position: relative;
}

.section {
	margin-bottom: 100px;
}

.section--form {
	margin-bottom: 0;
}

/*
.section:last-child {
	margin-bottom: 100px;
}
*/

/* --- / SECTIONS --- */



/* --- TITLES --- */

.title {
	font-size: 36px;
	font-weight: 400;
/*	line-height: 44px;*/
	line-height: 1.2;
	color: var(--colorBlackSecondary);
}

.title--main {
/*	margin-bottom: 25px;*/
	font-size: 64px;
	font-weight: 700;
	line-height: 1.2;
	text-transform: uppercase;
}

.title--section {
	margin-bottom: 35px;
	font-weight: 700;
	font-size: 48px;
	line-height: 1.2;
/*	text-align: center;*/
	text-transform: uppercase;
	color: var(--colorBlackSecondary);
}

.title--item {
	font-size: 24px;
	font-weight: 700;
	line-height: 1.5;
	text-transform: uppercase;
}

.title_decor {
	position: relative;
/*	display: inline;*/
/*	padding-left: 55px;*/
	text-indent: 55px;
	
}

.title--item__text {
	font-weight: inherit;
}

.title_decor + * {
	color: red;
	margin-top: 30px;
}

.title_decor::before {
	content: "";
	position: absolute;
	left: 0;
/*
	top: 50%;
	transform: translateY(-50%);
*/
	top: 0;
	display: block;
	width: 55px;
	height: 55px;
	background-image: url("../../icons/main/icon-pre-title-arrow.svg");
}

.title_decor a {
	display: block;
	line-height: 1.2;
}

.title_decor a:hover {
	opacity: 1;
	filter: none;
}

/*
.title--section_content {
	font-size: 32px;
	font-weight: 700;
	line-height: 39px;
	text-align: left;
}
*/

/* --- / TITLES --- */



/* --- LISTS --- */

ol, ul {
    padding-left: unset;
}

dl, ol, ul {
    margin-top: 0;
    margin-bottom: unset;
}

/* --- / LISTS --- */



/* --- LINKS --- */

a {
	display: inline-block;
	text-decoration: unset;
/*	line-height: normal;*/
	line-height: 1.5;
	color: inherit;
	outline-style: solid;
	outline-width: 1px;
	outline-color: transparent;
	outline-offset: 5px;
	transition: all 0.75s;
}

a:hover {
/*
    color: var(--colorYellow);
    border-bottom: 1px solid var(--colorBlack);
    transform: scale(1.05);
*/
	opacity: 0.75;
	filter: invert(0.05);
}

a:focus {
	border-radius: 10px;
/*	outline-color: var(--colorWhiteTransparent);*/
	outline-color: transparent !important;
	outline-width: 0  !important;
}

a:active {
	outline-color: transparent  !important;
	outline-width: 0  !important;
}

a:focus,
a:active {
/*outline: 0!important;*/
/*outline-color: transparent!important;*/
/*outline-width: 0!important;*/
/*outline-style: none!important;*/

}

.item__link {
	display: flex;
	align-items: center;
	gap: 10px;
	padding: 7.5px 15px;
	line-height: 1.2;
	border: 1px solid var(--colorYellowOther);
	border-radius: 100px;
	color: var(--colorBlackFourth);
}

.item__link:hover {
	background-color: var(--colorYellowOther);
	opacity: 1;
	filter: none;
}

.item__link-decor {
	flex-shrink: 0;
	width: 24px;
	height: 24px;
	background-repeat: no-repeat;
	background-position: center center;
}

.item__link-decor_dark {
	background-image: url("../../icons/main/icon-link-arrow_dark.svg");
}

.item__link-decor_light {
	background-image: url("../../icons/main/icon-link-arrow_light.svg");
}

.to-catalog-link {
	display: flex;
	align-items: center;
	gap: 10px;
	width: max-content;
	padding: 10px 15px;
	font-size: 16px;
	font-weight: 500;
	line-height: 1.5;
	text-transform: uppercase;
	color: var(--colorBlackFifth);
	border: 1px solid var(--colorGrayLight);
	border-radius: 20px;
}

.to-catalog-link .digit {
	padding: 5px 10px;
	font-size: 16px;
	font-weight: 700;
	line-height: 1.5;
	color: var(--colorYellowOther);
	background-color: var(--colorBlackFifth);
	border-radius: 20px;
}

.to-catalog-link:hover {
	background-color: var(--colorWhite);
	opacity: 1;
	filter: none;
}

/* --- / LINKS --- */



/* --- BUTTONS --- */

.button-box {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

.button {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	flex-shrink: 0;
/*	width: auto;*/
	width: max-content;
/*	padding: 15px;*/
	padding: 25px;
	font-family: "Montserrat", Arial, sans-serif;
	font-size: 16px;
	font-weight: 500;
	line-height: 1.5;
	color: var(--colorBlackThird);
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	white-space: nowrap;
	background-color: var(--colorYellow);
	border: 1px solid transparent;
/*	border: unset;*/
	border-radius: 20px;
	cursor: pointer;
	transition: all 0.75s;
}

.button_light {
	color: var(--colorBlackSecondary);
	background-color: transparent;
	border: 1px solid var(--colorGrayLight);
}

.button_dark {
	color: var(--colorWhite);
	background-color: var(--colorBlackSecondary);
}

.button_white {
	color: var(--colorBlackSecondary);
	background-color: var(--colorWhite);
}

/*
.button.button_cart-add {
	background-color: var(--colorGrayAnother);
}
*/

/*
.button-form {
	color: var(--colorWhite);
	background-color: var(--colorBlackSecondary);
	border-radius: unset;
}
*/

.button:hover {
/*	color: var(--colorWhite);*/
	background-color: var(--colorYellowLight);
/*	border: 2px solid var(--colorBlack);*/
}

.button_dark:hover {
/*	color: var(--colorWhite);*/
	background-color: var(--colorBlackSeventh);
}

/*
.button:focus {
	outline: 1px solid var(--colorBlackTransparent);
	outline-offset: 5px;
}
*/

.button[disabled] {
	opacity: 0.5;
	cursor: default;
}

/*
.button.button_decor {
	position: relative;
	padding-left: 30px;
}

.button.button_decor::before {
	content: "";
	position: absolute;
	left: 0px;
	width: 10px;
	height: 10px;
	background-color: var(--colorYellow);
	margin-left: 15px;
	border-radius: 50%;
	transition: all 0.75s;
}

.button.button_decor:hover::before {
	background-color: var(--colorYellow);
}
*/

.button_decor {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
	background-color: transparent;
	border: 1px solid var(--colorGrayLight);
}

.button_decor:hover {
	color: var(--colorBlackSecondary);
	background-color: var(--colorWhite);
	/*	border: 1px solid var(--colorGrayLight);*/
}

.button_decor .button__decor {
	width: 10px;
    height: 10px;
    background-color: var(--colorYellow);
    border-radius: 50%;
    transition: all 0.75s;
}

.button_decor:hover .button__decor {
	background-color: var(--colorBlackSecondary);
}

.button_decor_dark {
	color: var(--colorWhite);
	background-color: var(--colorBlackFourth);
}

.button_decor_dark:hover {
	color: var(--colorWhite);
	background-color: var(--colorBlackSeventh);
}

.button_decor_dark:hover .button__decor {
	background-color: var(--colorYellow);
}

/*

.button--light {
	color: var(--colorBlackMain);
	background-color: unset;
}

.button--light:hover {
	color: var(--colorWhite);
	background-color: var(--colorBlackMain);
}

.button--dark {
	color: var(--colorWhite);
	background-color: unset;
	border-color: var(--colorWhite);
}

.button--dark:hover {
	color: var(--colorBlackMain);
	background-color: var(--colorWhiteTransparent);
	border-color: var(--colorWhiteTransparent);
}

.button--light-revert {
	color: var(--colorWhite);
	background-color: var(--colorBlack);
}

.button--light-revert:hover {
	color: var(--colorBlack);
	background-color: var(--colorWhite);
}
*/

.button.show-more {
	gap: 10px;
}

.button.show-more + .button.show-less {
	margin-top: 20px;
}

.button.show-more[style="display: none"] + .button.show-less, 
.button.show-more[style="display: none;"] + .button.show-less {
	margin-top: 0;
}

.button.show-more, 
.button.show-less {
	width: 100%;
	padding: 20px;
	background-color: transparent;
	border: 1px solid var(--colorGrayLight);
}

.button.show-less {
	border-color: transparent;
}

.button.show-more:hover, 
.button.show-less:hover {
	background-color: var(--colorWhite);
}

.button.show-less:hover {
	background-color: transparent;
}

.button.show-more_transparent {
	justify-content: flex-start;
    padding: 10px 0;
    border-radius: 0;
    background-color: transparent;
    border: none;
}

.button.show-more_transparent:hover {
	background-color: transparent;
}

.button.show-more .digit_full {
	padding: 5px 10px;
	font-weight: 700;
	color: var(--colorYellowOther);
	background-color: var(--colorBlackFifth);
	border-radius: 20px;
}

.button-wrapper--center {
	text-align: center;
}

a.button {
/*	width: auto;*/
	width: max-content;
}

a.button:hover {
	opacity: 1;
	filter: none;
}

.button_order {
	min-width: 220px;
	padding: 15px;
}

button.prev, 
button.next {
	border: none;
	cursor: pointer;
	background-repeat: no-repeat;
}

button.prev {
	background-color: transparent;
	background-image: url("../../icons/catalog/icon-button-prev_default.svg");
	width: 40px;
	height: 40px;
	transition: all 1s;
}

button.prev:hover {
	background-image: url("../../icons/catalog/icon-button-prev_hover.svg");
}

button.next {
	background-color: transparent;
	background-image: url("../../icons/catalog/icon-button-next_default.svg");
	width: 60px;
	height: 40px;
	transition: all 1s;
}

button.next:hover {
	background-image: url("../../icons/catalog/icon-button-next_hover.svg");
/*	filter: invert(1);*/
}

.button_no-volume {
	padding: 0;
	background-color: transparent;
	border: none;
}

.button_no-volume:hover {
	background-color: transparent;
}

/* --- / BUTTONS --- */



/* --- INPUTS --- */

input {
    padding: 15px 25px;
    margin: 0;
    font-family: "Montserrat", Arial, sans-serif;
	font-size: 20px;
/*	font-weight: 500;*/
	font-weight: 400;
	line-height: 1.5;
	color: var(--colorBlackMain);
    background-color: var(--colorGrayBG);
    outline: unset;
	border: 1px solid var(--colorGrayBG);
    border-radius: 20px;
    transition: all 0.75s;
}

input::placeholder {
	font-family: "Montserrat", Arial, sans-serif;
	font-size: 20px;
	font-weight: 400;
	line-height: 1.5;
	color: var(--colorBlackMain);
}

input:hover {
	
}

input:focus {
/*
	background-color: var(--colorWhite);
	border-color: var(--colorRose);
*/
/*	background-image: none;*/
}

input:not(:placeholder-shown) {
/*    background-image: none;*/
}

input[type="checkbox"], 
input[type="radio"] {
	position: relative;
    top: 2px;
	
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
	
    flex-shrink: 0;
    flex-grow: 0;
	
    width: 19px;
    height: 18px;
    padding: 0;
    margin-right: 12px;
    border: 0;
	background-color: transparent;
    background-image: url("../../icons/checkboxes/icon-checkbox_empty.svg");
    background-position: center;
    background-repeat: no-repeat;
	background-size: cover;
	border-radius: 0;
	vertical-align: bottom;
	cursor: pointer;
}

input[type="checkbox"]:checked, 
input[type="radio"]:checked {
    background-image: url("../../icons/checkboxes/icon-checkbox_check.svg");
}

input[type="checkbox"]:focus-visible, 
input[type="checkbox"]:hover:not(:disabled), 
input[type="radio"]:focus-visible, 
input[type="radio"]:hover:not(:disabled) {
	box-shadow: 0px 2px 10px rgba(166, 173, 255, 0.8);
}

input[type="checkbox"]:disabled, 
input[type="radio"]:disabled {
	background-image: url("../../images/main/checkbox--disabled.svg");
	cursor: not-allowed;
}

.form-label_checkbox {
	display: flex;
	align-items: center;
	font-size: 20px;
	font-weight: 500;
	line-height: 1.2;
	color: var(--colorBlackFifth);
}

input[type="search"]::-ms-clear,
input[type="search"]::-webkit-search-cancel-button {
	display: none;
}

input::-webkit-search-cancel-button {
	-webkit-appearance: none;
	display: block;
/*
	width: 8px;
	height: 8px;
*/
	width: 22px;
	height: 22px;
	
	--weight: 0px;
	--aa: 1px; /* anti-aliasing */
	--color: #a0a0a0;
/*
	background: linear-gradient(45deg, transparent calc(50% - var(--weight) - var(--aa)), var(--color) calc(50% - var(--weight)), var(--color) calc(50% + var(--weight)), transparent calc(50% + var(--weight) + var(--aa))),
    linear-gradient(-45deg, transparent calc(50% - var(--weight) - var(--aa)), var(--color) calc(50% - var(--weight)), var(--color) calc(50% + var(--weight)), transparent calc(50% + var(--weight) + var(--aa)));
*/
	background-image: url("../../icons/header/icon-search-reset.svg");
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type="number"] {
    -moz-appearance: textfield;
}

textarea {
    display: block;
    padding: 15px 25px;
    font-family: "Montserrat";
	font-size: 20px;
	font-weight: 400;
	line-height: 1.5;
	color: var(--colorBlackMain);
    background-color: var(--colorGrayBG);
    outline: unset;
	border: none;
    border-radius: 20px;
    transition: all 0.75s;
    scrollbar-width: thin;
	resize: none;
}

textarea::placeholder {
	font-family: "Montserrat", Arial, sans-serif;
	font-size: 20px;
	font-weight: 400;
	line-height: 1.5;
	color: var(--colorBlackMain);
}

textarea:hover {
/*	border-color: #a0a0a0;*/
}

textarea:focus {
/*
	background-color: var(--colorWhite);
	border-color: var(--colorRose);
*/
}

textarea:focus {
/*
	background-color: var(--colorWhite);
	border-color: var(--colorRose);
*/
/*	background-image: none;*/
}

textarea:not(:placeholder-shown) {
/*    background-image: none;*/
}

.error {
	background-color: var(--colorLightRose);
	border-color: var(--colorRedTwice);
}

/* --- / INPUTS --- */



/* --- TEXT --- */

p {
	/* bootstrap fix */
    margin-top: 0;
    margin-bottom: 0;
}

.text__important {
/*	padding: 0 10px;*/
	padding: 5px 15px;
	font-weight: inherit;
	background-color: var(--colorYellow);
	border-radius: 20px;
}

.text__bold {
	font-weight: 700;
}

.text__link {
	text-decoration: underline;
	color: var(--colorBlue);
}

.text__link:hover {
/*	opacity: 0.75;*/
}

/*
.swiper-pagination-bullet {
    transition: background 0.75s;
}

.fade-out {
	opacity: 0 !important;
	transition: opacity 1s 3s;
}
*/

.text_main {
	font-size: 24px;
	font-weight: 400;
	line-height: 1.5;
	color: var(--colorBlackFourth);
}

.text_pages {
	margin-top: 10px;
	font-size: 20px;
	font-weight: 400;
	line-height: 1.2;
	color: var(--colorBlackFourth);
}

.text_pages_important {
	margin-top: 0;
	font-weight: 700;
	line-height: 2;
	color: var(--colorBlackFourth);
}

.subtitle {
	margin: 30px 0 15px;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.2;
	color: var(--colorBlackFourth);
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.address {
	font-style: normal;
}

/* --- / TEXT --- */



/* --- VISIBILITY --- */

.mobile {
	display: none;
}

/* / --- VISIBILITY --- */



/* --- ADAPTING --- */

@media (max-width: 1600px) {
	
	.title--main {
		font-size: 48px;
	}
	
	.button_order {
		min-width: unset;
	}

}
/* ↑↑↑ 1600px ↑↑↑ */



@media (max-width: 1599px) {
	

}
/* ↑↑↑ 1599px ↑↑↑ */



@media (max-width: 1366px) {
	
	.wrapper {
		max-width: 1180px;
	}
	
	.title--main {
		font-size: 42px;
	}
		
}
/* ↑↑↑ 1366px ↑↑↑ */



@media (max-width: 1280px) {
	
	.wrapper {
		max-width: 1180px;
	}
		
}
/* ↑↑↑ 1280px ↑↑↑ */



@media (max-width: 1200px) {
	
	.to-catalog-link {
		width: auto;
	}
		
}
/* ↑↑↑ 1200px ↑↑↑ */



@media (max-width: 1180px) {
	
	.wrapper {
		max-width: 1024px;
	}
		
}
/* ↑↑↑ 1180px ↑↑↑ */



@media (max-width: 1024px) {
	
	.wrapper {
		max-width: 980px;
	}
	
	.title--main {
		font-size: 48px;
	}
	
	.title--section {
		font-size: 42px;
	}
		
}
/* ↑↑↑ 1024px ↑↑↑ */



@media (max-width: 768px) {
	
	.wrapper {
		max-width: 700px;
	}
		
}
/* ↑↑↑ 768px ↑↑↑ */



@media (max-width: 767px) {
	
	.desktop {
		display: none !important;
	}

	.mobile {
		display: block;
	}

/*
	.main {
		padding-top: 95px;
	}
*/
	
	.title--main {
		font-size: 40px;
	}
	
	.title--section {
		font-size: 36px;
	}
		
}
/* ↑↑↑ 767px ↑↑↑ */



@media (max-width: 640px) {
	
	.wrapper {
		max-width: 95%;
	}
		
}
/* ↑↑↑ 640px ↑↑↑ */



@media (max-width: 534px) {
	
	body {
/*		font-size: 14px;*/
	}
	
	.wrapper {
		padding: 0;
	}
	
	.title--main {
/*		font-size: 32px;*/
	}
	
	.title--section {
		margin-bottom: 28px;
/*		font-size: 28px;*/
	}

	.header .swiper-pagination {
		bottom: 32px;
	}
	
}
/* ↑↑↑ 534px ↑↑↑ */



@media (max-width: 429px) {
	
/*
	.main {
		padding-top: 200px;
	}
*/
	
	.title--main {
		font-size: 32px;
	}
	
	.title--section {
		font-size: 28px;
	}
	
}
/* ↑↑↑ 429px ↑↑↑ */



@media (max-width: 375px) {

	
}
/* ↑↑↑ 375px ↑↑↑ */



@media (max-width: 320px) {
	
	
}
/* ↑↑↑ 320px ↑↑↑ */