/* MAIN */

@import "../main/main-slider.css";
@import "../main/main-items.css";
@import "../main/main-banner.css";
@import "../main/main-projects.css";
@import "../main/main-specializations.css";
@import "../main/main-reasons.css";
@import "../main/main-about.css";
@import "../main/main-news.css";
@import "../main/main-reviews.css";
@import "../main/main-partners.css";
@import "../main/main-faq.css";
@import "../main/main-stages.css";