:root {
	--colorBlackZero: #000000;
	--colorBlackMain: #161616;
	--colorBlackSecondary: #2f2f2f;
	--colorBlackThird: #4b4b4b;
	--colorBlackFourth: #252525;
	--colorBlackFifth: #3d3d3d;
	--colorBlackSixth: #020202;
	--colorBlackSeventh: #474747;
	--colorBlackEighth: #212121;
	--colorBlackNihth: #070707;
/*	--colorBlackTransparent: rgba(31, 31, 31, 0.6);*/
	--colorBlackTransparent: #31313190;
	
	--colorWhite: #ffffff;
	--colorWhiteTransparent: rgba(194, 194, 194, 0.6);
	
	
	
	--colorYellow: #ffeb59;
	--colorYellowLight: #fff8c5;
	--colorYellowOther: #ffe100;
	
	--colorRed: #ff0000;
	--colorRedTwice: #ff0606;
	
	--colorBlue: #4888ff;
	--colorBlueAnother: #229ed9;
	
	--colorGreen: #aaffc1;
	--colorGreenOther: #34c85a;
	--colorGreenAnother: #1faf38;
	
	--colorRose: #ffd0d0;
	--colorLightRose: #ffeaea;
	
	--colorWarn: #fff297;
	
	--colorGold: #baa824;

	--colorGrayBG: #f3f3f3;
	--colorGrayLight: #b2b2b2;
	--colorGrayDark: #636363;
	--colorGrayDefault: #d9d9d9;
	--colorGrayOther: #bdbdbd;
	--colorGrayAnother: #cecece;
	--colorGrayDiverse: #dddddd;
	--colorGrayEither: #747474;
	--colorGrayOtherwise: #e4e4e4;
	--colorGrayOneMore: #9e9e9e;
	--colorGrayOneMoreTime: #d4d4d4;
	--colorGrayTwoMoreTime: #757575;
	--colorGray: #a3a3a3;
}