/* --- ADAPTING --- */

@media (max-width: 768px) {
	
	.content-page_detail .section--projects .button.show-more, 
	.content-page_detail .section--projects .button.show-less {
		display: none !important;
	}

	.content-page_detail .projects__items {
		flex-wrap: nowrap;
		margin-bottom: 30px;
		border: none;
		overflow-x: auto;
		scrollbar-width: thin;
		scrollbar-color: var(--colorBlackSecondary) transparent;
	}
	
	.content-page_detail .projects__item.slider__item {
		min-width: 95%;
		height: auto;
		padding-bottom: 10px;
		opacity: 1;
	}
		
}
/* ↑↑↑ 768px ↑↑↑ */



@media (max-width: 767px) {
	
	.content-page_detail .section--projects .ios-checkbox-wrapper {
		position: relative;
		width: max-content;
		/* padding: 5px 30px 5px 5px; */
		padding: 10px 30px 10px 5px;
		font-weight: 700;
		background-color: var(--colorYellow);
		border-radius: 20px;
	}
	
	.content-page_detail .section--projects .filter-counter {
		position: absolute;
		right: 0;
		top: 0;
		transform: translateY(-50%) translateX(50%);
	}
	
	.content-page_detail .projects-filter-popup {
		position: relative;
		display: none;
	}
	
	.content-page_detail .projects-filter-popup.active {
		position: fixed;
		inset: 0;
		z-index: 100000;
		display: block;
		padding: 20px;
		overflow-x: hidden;
		overflow-y: auto;
		background: var(--colorGrayBG);		
	}
	
	.content-page_detail .section--projects .projects-filter .categories__title-text {
		display: inline-block;
		padding: 10px 25px;
		font-weight: 700;
		/* line-height: 1.2; */
		background-color: var(--colorYellow);
		border-radius: 20px;
	}
	
	.content-page_detail .section--projects .form-label_checkbox {
		max-width: calc(100% - (2 * 20px));
		max-width: 100%;
		margin-bottom: 0;
		padding: 8px 20px;
		background-color: var(--colorWhite);
		border-radius: 20px;
	}
	
	.content-page_detail .section--projects .projects-filter .projects-filter__wrapper {
		display: flex;
/*		flex-direction: column;*/
		flex-wrap: wrap;
		column-gap: 30px;
		row-gap: 60px;
		padding: 0;
		border: none;
		transition: all 0.5s;
	}

	.content-page_detail .section--projects .projects-filter .projects-filter__wrapper .categories-wrapper {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 20px;
		flex-grow: 0;
		flex-shrink: 0;
		max-width: 100%;
	}
	
	.content-page_detail .section--projects .duplicate-checkboxes {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		column-gap: 24px;
		row-gap: 20px;
		margin: 20px 0 50px;
	}

}
/* ↑↑↑ 767px ↑↑↑ */



@media (max-width: 534px) {

	.content-page_detail .section--projects .ios-checkbox-wrapper {
		flex-shrink: 0;
		padding: 10px 10px 10px 5px;
	}

}
/* ↑↑↑ 534px ↑↑↑ */