.content-page .section--specializations .title--section {
	margin-bottom: 20px;
}

.content-page .section--specializations .spec__inner .spec__inner-left {
    flex-basis: 50%;
	max-width: 50%;
	margin: 0 auto;
	text-align: center;
	color: var(--colorBlackMain);
}

.content-page .section--specializations .spec__inner .spec__inner-left .subtitle {
	margin: 20px 0 45px;
	color: inherit;
}



/* --- ADAPTING --- */

@media (max-width: 1180px) {
	
	.content-page .section--specializations .specs__items {
		gap: 12px;
	}
	
	.content-page .section--specializations .specs__item {
		flex-basis: calc((100% - 12px) / 2);
		max-width: calc((100% - 12px) / 2);
	}

}
/* ↑↑↑ 1180px ↑↑↑ */



@media (max-width: 1024px) {
	
	.content-page .section--specializations .subtitle {
		font-size: 24px;
		line-height: 1.5;
	}
	
}
/* ↑↑↑ 1024px ↑↑↑ */



@media (max-width: 820px) {
	
	.content-page .section--specializations .spec__inner .spec__inner-left {
		flex-basis: 75%;
		max-width: 75%;
	}

}
/* ↑↑↑ 820px ↑↑↑ */



@media (max-width: 767px) {
	
	.content-page .section--specializations .spec__inner .spec__inner-left {
		flex-basis: 100%;
		max-width: 100%;
	}
	
	.content-page .section--specializations .specs__item {
		flex-basis: 100%;
		max-width: 100%;
	}
	
	.content-page .section--specializations .spec__inner .spec__inner-left .subtitle {
		margin: 20px 0 25px;
	}

}
/* ↑↑↑ 767px ↑↑↑ */



@media (max-width: 534px) {
	
	.content-page .section--specializations .spec__inner .spec__inner-left .subtitle {
		text-align: left;
	}
	
	.content-page .section--specializations .slider__button-container {
		display: none;
	}

}
/* ↑↑↑ 534px ↑↑↑ */