.content-page .section--services .title--section {
	margin-bottom: 20px;
}

.content-page .section--services .services__inner .services__inner-left {
    flex-basis: 50%;
	max-width: 50%;
	margin: 0;
	text-align: unset;
	color: var(--colorBlackMain);
}

.content-page .section--services .services__inner .services__inner-left .subtitle {
	margin: 20px 0 45px;
	color: inherit;
}

.content-page .section--services .services__items {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
	margin-bottom: 40px;
}

.content-page .section--services .services__item {
    flex-basis: calc((100% - 2 * 25px) / 3);
    max-width: calc((100% - 2 * 25px) / 3);
}

.content-page .section--services .slider__button-container {
	display: none;
}

.content-page .section--services .services__title  {
	padding-right: 0;
}



/* --- ADAPTING --- */

@media (max-width: 1180px) {
	
	.content-page .section--services .services__items {
		gap: 12px;
	}
	
	.content-page .section--services .services__item {
		flex-basis: calc((100% - 12px) / 2);
		max-width: calc((100% - 12px) / 2);
	}

}
/* ↑↑↑ 1180px ↑↑↑ */



@media (max-width: 1024px) {
	
	.content-page .section--services .subtitle {
		font-size: 24px;
		line-height: 1.5;
	}
	
}
/* ↑↑↑ 1024px ↑↑↑ */



@media (max-width: 820px) {
	
	.content-page .section--services .services__inner .services__inner-left {
		flex-basis: 75%;
		max-width: 75%;
	}

}
/* ↑↑↑ 820px ↑↑↑ */



@media (max-width: 767px) {
	
	.content-page .section--services .services__inner .services__inner-left {
		flex-basis: 100%;
		max-width: 100%;
	}
	
	.content-page .section--services .services__item {
		flex-basis: 100%;
		max-width: 100%;
	}
	
	.content-page .section--services .services__inner .services__inner-left .subtitle {
		margin: 20px 0 25px;
	}

}
/* ↑↑↑ 767px ↑↑↑ */



@media (max-width: 534px) {
	
	.content-page .section--services .services__inner .services__inner-left .subtitle {
		text-align: left;
	}
	
	.content-page .section--services .slider__button-container {
		display: none;
	}

}
/* ↑↑↑ 534px ↑↑↑ */