.section--project-description .inner {
	display: flex;
	flex-direction: column;
	gap: 25px;
}

.project-description {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.project-description__header {
	width: max-content;
	padding: 20px 30px;
	font-size: 24px;
	font-weight: 700;
	line-height: 1.5;
	text-transform: uppercase;
	background-color: var(--colorYellow);
	border-radius: 20px;
}

.project-description__text {
	padding: 40px;
	font-size: 24px;
	line-height: 1.5;
	background-color: var(--colorWhite);
	border-radius: 20px;
}



/* --- ADAPTING --- */

@media (max-width: 767px) {
	
	.project-description__header {
		width: auto;
	}
	
}
/* ↑↑↑ 767px ↑↑↑ */
