.content-page:not(.content-page_detail) .section--projects .projects__inner {
	margin-top: 60px;
}

.content-page:not(.content-page_detail) .section--projects .projects__inner-left {
	display: none;
}

.content-page:not(.content-page_detail) .section--projects .projects__inner-right {
    flex-basis: 100%;
    max-width: 100%;
}

.content-page:not(.content-page_detail) .section--projects .projects__item {
    flex-basis: calc((100% - 2 * 12px) / 3);
    max-width: calc((100% - 2 * 12px) / 3);
}

.content-page:not(.content-page_detail) .section--projects .sorting {
	display: flex;
	align-items: center;
	gap: 12px;
	margin: 100px 0 35px;
}

.content-page:not(.content-page_detail) .section--projects .sorting .sorting__text {
	font-weight: 700;
}

.content-page:not(.content-page_detail) .section--projects .sorting .button-sorting {
	padding: 10px 25px;
	text-transform: none;
	font-weight: 700;
}

.content-page:not(.content-page_detail) .section--projects .sorting .button-sorting.active {
	background-color: var(--colorYellow);
	border-color: var(--colorYellow);
}

.content-page:not(.content-page_detail) .section--projects .duplicate-checkboxes {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	column-gap: 24px;
	row-gap: 20px;
	margin: 20px 0 50px;
}

.content-page:not(.content-page_detail) .section--projects .projects-filter .duplicate-checkboxes:not(.duplicate-checkboxes.active) {
	margin: 10px 0;
}

/*.content-page:not(.content-page_detail) .section--projects .form-label_checkbox {*/
.content-page:not(.content-page_detail):not(.main-page) .section--projects .form-label_checkbox {
	margin-bottom: 0;
	padding: 8px 20px;
	background-color: var(--colorWhite);
	border-radius: 20px;
}

.content-page:not(.content-page_detail) .section--projects .projects-filter .ios-checkbox-wrapper {
	position: relative;
	width: max-content;
/*	padding: 5px 30px 5px 5px;*/
	padding: 10px 30px 10px 5px;
	font-weight: 700;
	background-color: var(--colorYellow);
	border-radius: 20px;
}

/*.content-page:not(.content-page_detail) .section--projects .projects-filter .filter-counter {*/
.content-page:not(.content-page_detail):not(.main-page) .section--projects .projects-filter .filter-counter {
	position: absolute;
	right: 0;
	top: 0;
	transform: translateY(-50%) translateX(50%);
}

/*.content-page:not(.content-page_detail) .section--projects .projects-filter .projects-filter__wrapper {*/
.content-page:not(.content-page_detail):not(.main-page) .section--projects .projects-filter .projects-filter__wrapper {
	display: flex;
	flex-wrap: wrap;
	column-gap: 30px;
	row-gap: 60px;
	padding: 0;
	border: none;
	
	max-height: 200px;
	overflow: hidden;
	
	transition: all 0.5s;
}

.content-page:not(.content-page_detail) .section--projects .projects-filter .projects-filter__wrapper.visible {
/*	max-height: 100%;*/
	max-height: 10000px;
	overflow: hidden;
	transition: all 0.5s;
}

.content-page:not(.content-page_detail) .section--projects .projects-filter .projects-filter__wrapper .categories-wrapper {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 20px;
	flex-grow: 0;
	flex-shrink: 0;
}

.content-page:not(.content-page_detail) .section--projects .projects-filter .projects-filter__wrapper .categories-wrapper:nth-child(2) {
	flex-direction: row;
	flex-wrap: wrap;
	flex-basis: 45%;
	max-width: 45%;
}

.content-page:not(.content-page_detail) .section--projects .projects-filter .projects-filter__wrapper .categories-wrapper:nth-child(2) > p {
	width: 100%;
}

.content-page:not(.content-page_detail) .section--projects .projects-filter .categories__title {
	
}

.content-page:not(.content-page_detail) .section--projects .projects-filter .categories__title-text {
	display: inline-block;
	padding: 10px 25px;
	font-weight: 700;
/*	line-height: 1.2;*/
	background-color: var(--colorYellow);
	border-radius: 20px;
}

/*
.content-page:not(.content-page_detail) .section--projects .projects-filter .button.show-more {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    min-width: 33%;
}

.content-page:not(.content-page_detail) .section--projects .projects-filter .button.show-more .show-more__text {
	border: 1px solid var(--colorGrayLight);
	border-radius: 20px;
	padding: 10px 100px;
}

.content-page:not(.content-page_detail) .section--projects .projects-filter .button.show-more::before,
.content-page:not(.content-page_detail) .section--projects .projects-filter .button.show-more::after {
    content: "";
    flex-grow: 1;
    height: 2px;
    background-color: red;
    margin: 0 10px;/
}

.content-page:not(.content-page_detail) .section--projects .projects-filter .button.show-more::before {
    margin-right: 10px;
}

.content-page:not(.content-page_detail) .section--projects .projects-filter .button.show-more::after {
    margin-left: 10px;
}
*/

.content-page:not(.content-page_detail) .section--projects .projects-filter .button-box {
	flex-wrap: nowrap;
	gap: 10px;
	margin-top: 10px;
}


.content-page:not(.content-page_detail) .section--projects .projects-filter .button.show-more {
	width: auto;
	padding: 10px;
}

.content-page:not(.content-page_detail) .section--projects .projects-filter .button-box__divider {
	flex-grow: 1;
	flex-shrink: 1;
	width: 100%;
	height: 1px;
	background-color: var(--colorGrayLight);
}

.button-box__divider_left {
	
}

.content-page:not(.content-page_detail) .section--projects .projects-filter .title--item {
	display: none;
}

.content-page:not(.content-page_detail) .section--projects .projects-filter .button-close {
	display: none;
}


/* iOS STYLE */

input[type="checkbox"].ios8-switch {
    position: absolute;
    margin: 8px 0 0 16px;
}

input[type="checkbox"].ios8-switch + label {
    position: relative;
    padding: 5px 0 0 50px;
    line-height: 2.0em;
}

input[type="checkbox"].ios8-switch + label::before {
    content: "";
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    width: 40px;
    height: 24px;
	background-color: var(--colorWhite);
	border: 1px solid var(--colorBlackNihth);
	border-radius: 16px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

input[type="checkbox"].ios8-switch + label::after {
    content: "";
    position: absolute;
    display: block;
/*    left: 0px;*/
    left: 10px;
    top: 0px;
    width: 24px;
    height: 24px;
    border-radius: 16px;
	background-color: var(--colorBlackFifth);
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

input[type="checkbox"].ios8-switch + label:hover::after {
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
}

input[type="checkbox"].ios8-switch:checked + label::after {
    margin-left: 16px;
	background-color: var(--colorWhite);
}

input[type="checkbox"].ios8-switch:checked + label::before {
    background: var(--colorGreenOther);
	border-color: var(--colorGrayOneMoreTime);
}



/* LARGE iOS */

input[type="checkbox"].ios8-switch-lg {
	display: none;
    margin: 10px 0 0 20px;
}

input[type="checkbox"].ios8-switch-lg + label {
    position: relative;
/*    padding: 7px 0 0 60px;*/
    padding: 0 0 0 110px;
/*    line-height: 2.3em;*/
    line-height: 1.2;
	font-weight: 700;
}

input[type="checkbox"].ios8-switch-lg + label::before {
	top: 50%;
	transform: translateY(-50%);
    width: 100px;
    height: 40px;
    border-radius: 20px;
}

input[type="checkbox"].ios8-switch-lg + label::after {
	top: 50%;
	transform: translateY(-50%);
    width: 30px;
    height: 30px;
    border-radius: 20px;
}

input[type="checkbox"].ios8-switch-lg + label:hover::after {
    box-shadow: 0 0 8px rgba(0,0,0,0.3);
}


input[type="checkbox"].ios8-switch-lg:checked + label::before {
	
}

input[type="checkbox"].ios8-switch-lg:checked + label::after {
/*    margin-left: 20px;*/
    margin-left: 50px;
	
}

/* / iOS STYLE */



/* --- ADAPTING --- */

@media (max-width: 1180px) {
	
	.content-page:not(.content-page_detail) .section--projects .projects__item {
		flex-basis: calc((100% - 12px) / 2);
		max-width: calc((100% - 12px) / 2); 
	}
	
}
/* ↑↑↑ 1180px ↑↑↑ */



@media (max-width: 1024px) {
	
	.content-page .section--projects .subtitle {
		font-size: 24px;
		line-height: 1.5;
	}
	
}
/* ↑↑↑ 1024px ↑↑↑ */



@media (max-width: 820px) {
	
	.content-page .section--projects .slider__button-container {
		display: none;
	}

}
/* ↑↑↑ 820px ↑↑↑ */



@media (max-width: 767px) {
	
	.content-page:not(.content-page_detail) .section--projects .projects__item {
		flex-basis: 100%;
		max-width: 100%;
	}
	
	.content-page:not(.content-page_detail) .section--projects .projects-filter .button-box {
		display: none;
	}
	
	.content-page:not(.content-page_detail) .section--projects .projects-filter {		
		
	}
		
	.content-page:not(.content-page_detail) .section--projects .projects-filter .projects-filter__wrapper {		
		display: none !important;
	}
	
	.content-page:not(.content-page_detail) .section--projects .projects-filter.active .projects-filter__wrapper {
		display: flex !important;
	}
	
	.content-page:not(.content-page_detail) .section--projects .projects-filter.active {
		position: fixed;
		inset: 0;
		z-index: 100000;
/*		display: block;*/
		height: auto;
		padding: 20px 10px;
		overflow-x: hidden;
		overflow-y: auto;
		background: var(--colorGrayBG);	
	}
	
	.content-page:not(.content-page_detail) .section--projects .projects-filter.active .projects-filter__wrapper {
		display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        column-gap: 30px;
        row-gap: 60px;
		max-height: unset;
	}
	
	.filter-button-box .button.mobile {
		display: flex;
	}
	
	.content-page:not(.content-page_detail) .section--projects .projects-filter.active .button-close {
		display: flex;
	}
	
	.content-page:not(.content-page_detail) .section--projects .projects-filter.active .filter-button-box .button.mobile {
		display: none;
	}
	
	
	.content-page:not(.content-page_detail) .section--projects .projects-filter.active .title--item {
		display: block;
	}
	
	.content-page:not(.content-page_detail) .section--projects .projects-filter .projects-filter__wrapper .categories-wrapper:nth-child(2) {
		flex-direction: column;
		flex-wrap: wrap;
		flex-basis: unset;
		max-width: unset;
	}
	
	.content-page:not(.content-page_detail) .section--projects .sorting {
		margin: 50px 0;
		padding-bottom: 10px;
		overflow-x: auto;
	}

}
/* ↑↑↑ 767px ↑↑↑ */



@media (max-width: 534px) {
	
	input[type="checkbox"].ios8-switch-lg + label {
		display: inline-block;
		font-size: 14px;
	}
	
}
/* ↑↑↑ 534px ↑↑↑ */