/* --- SLIDER --- */

.slider-container {
	position: relative;
	width: 100%;
	height: 400px;
	overflow: hidden;
	border-radius: 20px;
}

.slider {
	position: relative;
	width: 100%;
	height: 100%;
}

.slides {
	display: flex;
	transition: transform 0.5s ease;
	height: 100%;
}

.slide {
	min-width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center;
}

.bullets {
	position: absolute;
	bottom: 10px;
	left: 20px;
	right: 20px;
	display: flex;
	gap: 3px;
}

.bullet {
	flex: 1;
	height: 6px;
	background-color: var(--colorWhite);
	cursor: pointer;
	transition: background 0.5s;
	border-radius: 100px;
}

.bullet.active {
	background: var(--colorYellow);
}

.slider__button-container {
	position: absolute;
	top: 15px;
	right: 15px;
	display: flex;
	justify-content: center;
	gap: 5px;
}

.slider__button-container button {
/*	background: rgba(255, 255, 255, 0.7);*/
	border: none;
	cursor: pointer;
}

/* --- / SLIDER --- */



/* --- ADAPTING --- */

@media (max-width: 479px) {
	
	.section--banner-main .banner__part-right .slider__button-container {
		position: static;
		justify-content: flex-start;
		margin-bottom: 30px;
	}
	
}
/* ↑↑↑ 479px ↑↑↑ */


