.section--projects {
	margin-bottom: 110px;
}

.hidden-checkboxes {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: all 0.5s;
}

.hidden-checkboxes.show {
    max-height: 1000px;
    opacity: 1;
	transition: all 2.25s;
}

.projects__inner {
	display: flex;
/*	align-items: flex-start;*/
	gap: 60px;
}

.projects__inner-left {
	display: flex;
	flex-direction: column;
	flex-basis: calc((100% - 60px) / 3);
	max-width: calc((100% - 60px) / 3);
}

.projects__inner-right {
	flex-basis: calc((100% - 60px) / 3 * 2);
	max-width: calc((100% - 60px) / 3 * 2);
}

.projects__inner-left .aside {
/*	margin-top: auto;*/
	margin-top: 20px;
}

.projects__items {
	display: flex;
	flex-wrap: wrap;
	gap: 12px;
}

.projects__item {
	flex-basis: calc((100% - 12px) / 2);
	max-width: calc((100% - 12px) / 2);
    
}

.projects__item.visible {
/*
    opacity: 1;
    height: auto;
	transition: opacity 0.75s, height 0.75s;
*/
}


/* FILTER */

.filter-counter {
	display: flex;
	align-items: center;
	gap: 5px;
}

.section--projects  .filter-counter {
	margin-bottom: 15px;
}

.filter-counter .decor {
	width: 23px;
	height: 21px;
	background-image: url("../../icons/main/icon-filter-decor.svg");
	background-repeat: no-repeat;
	background-position: center center;
}

.filter-counter .digit {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 36px;
	height: 36px;
	padding: 10px;
	font-size: 16px;
	font-weight: 500;
	line-height: 1.2;
	color: var(--colorWhite);
	background-color: var(--colorRed);
	border-radius: 50%;
}

.filter-counter .text {
	margin-left: 10px;
	font-size: 24px;
	font-weight: 700;
	line-height: 1.2;
}

.projects-filter__wrapper {
	padding: 35px;
	border: 1px solid var(--colorGrayLight);
	border-radius: 20px;
}

.section--projects .subtitle {
	margin-top: 0;
}

.section--projects .projects-filter .form-label_checkbox {
	margin-bottom: 20px;
}

/*
.section--projects .projects__inner-left .button.show-more {
	justify-content: flex-start;
	padding: 10px 0;
	border-radius: 0;
	background-color: transparent;
	border: none;
}
*/

/* / FILTER */



/* --- ITEMS --- */

.projects__item-info {
/*
	position: relative;
	padding: 15px;
	background-color: var(--colorWhite);
	border-radius: 20px;
*/
}

.project__title {
/*
	display: flex;
	align-items: center;
	gap: 10px;
	color: var(--colorBlackFourth);
*/
}

.project__title-decor {
/*
	width: 24px;
	height: 24px;
	background-image: url("../../icons/main/icon-point.svg");
*/
}

.project__title-text {
/*	font-weight: inherit;*/
}

.project__subtitle {
/*
	font-size: 20px;
	line-height: 1.5;
	color: var(--colorBlackSixth);
*/
}

.projects__item-tags {
/*
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap: 10px;
	margin: 20px 0 45px;
	color: var(--colorBlackSixth);
*/
}

.projects__item-info .projects__item-tags {
/*	font-size: 20px;*/
}

.projects__item-tag {
/*
	display: flex;
	align-items: center;
	gap: 2px;
*/
}

.projects__item-tag-decor {
/*
	width: 24px;
	height: 24px;
	background-image: url("../../icons/main/icon-link-arrow_dark.svg");
*/
}

.section--projects .item__link {
/*
	justify-content: flex-end;
	width: max-content;
	margin-left: auto;
*/
}

/*
.slider-tags .projects__item-tag {
	flex-direction: row-reverse;
	gap: 10px;
	padding: 7.5px 15px;
	border-radius: 100px;
}

.slider-tags .projects__item-tag:hover {
	opacity: 1;
	filter: none;
}

.slider-tags.slider-tags_light .projects__item-tag {
	background-color: var(--colorWhite);
}

.slider-tags.slider-tags_light .projects__item-tag:hover {
	background-color: var(--colorGrayDiverse);
}

.slider-tags.slider-tags_dark .projects__item-tag {
	background-color: var(--colorBlackFourth);
}

.slider-tags.slider-tags_dark .projects__item-tag:hover {
	background-color: var(--colorBlackSeventh);
}

.slider-tags.slider-tags_yellow .projects__item-tag {
	background-color: var(--colorYellow);
}

.slider-tags.slider-tags_yellow .projects__item-tag:hover {
	background-color: var(--colorYellowLight);
}
*/

/* --- / ITEMS --- */

.projects__item.filtered {
    opacity: 0;
    height: 0;
    overflow: hidden;
    transition: opacity 0.75s, height 0.75s;
}



/* --- ADAPTING --- */

@media (max-width: 1366px) {

	.projects__item {
		flex-basis: 100%;
		max-width: 100%;
	}
	
}
/* ↑↑↑ 1366px ↑↑↑ */



@media (max-width: 1024px) {
	
	.projects__inner {
		gap: 20px;
	}

	.projects__inner-left {
		display: flex;
		flex-direction: column;
		flex-basis: calc((100% - 20px) / 3);
		max-width: calc((100% - 20px) / 3);
	}
	
	.projects__inner-right {
		flex-basis: calc((100% - 20px) / 3 * 2);
		max-width: calc((100% - 20px) / 3 * 2);
	}
	
	
}
/* ↑↑↑ 1024px ↑↑↑ */



@media (max-width: 820px) {
	
	
	.projects__inner-left {
		display: flex;
		flex-direction: column;
		flex-basis: calc((100% - 20px) * 0.4);
		max-width: calc((100% - 20px) * 0.4);
	}
	
	.projects__inner-right {
		flex-basis: calc((100% - 20px) * 0.6);
		max-width: calc((100% - 20px) * 0.6);
	}
	
}
/* ↑↑↑ 820px ↑↑↑ */



@media (max-width: 768px) {
	
	.section--projects .title--section {
		margin-bottom: 15px;	
	}
	
	.projects__inner {
		flex-wrap: wrap;
	}
	
	.projects__inner-left, 
	.projects__inner-right {
		flex-basis: 100%;
		max-width: 100%;	
	}
	
	.main-page .section--projects .button.show-more:not(.projects-filter .button.show-more), 
	.main-page .section--projects .button.show-less {
		display: none !important;
	}
		
/*
	.projects__items::-webkit-scrollbar {
		width: 10px;
	}

	.projects__items::-webkit-scrollbar-thumb {
		background-color: var(--colorBlackSecondary);
		border-radius: 1000px;
	}

	.projects__items::-webkit-scrollbar-track {
		background-color: transparent;
		border-radius: 1000px;
	}
*/
	
	.main-page .projects__items {
		flex-wrap: nowrap;
		margin-bottom: 30px;
		border: none;
		overflow-x: auto;
/*		overflow-y: hidden;*/
		scrollbar-width: thin;
		scrollbar-color: var(--colorBlackSecondary) transparent;
	}
	
	.main-page .projects__item.slider__item {
		min-width: 95%;
		height: auto;
		padding-bottom: 10px;
		opacity: 1;
		
	}
		
}
/* ↑↑↑ 768px ↑↑↑ */



@media (max-width: 767px) {
	
	.projects-filter__wrapper {
		padding: 0;
		border: none;
	}

	.filter-button-box {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	
	.main-page .section--projects .ios-checkbox-wrapper {
		position: relative;
		width: max-content;
		/* padding: 5px 30px 5px 5px; */
		padding: 10px 30px 10px 5px;
		font-weight: 700;
		background-color: var(--colorYellow);
		border-radius: 20px;
	}
	
	.main-page .section--projects .filter-counter {
		position: absolute;
		right: 0;
		top: 0;
		transform: translateY(-50%) translateX(50%);
	}
	
	.main-page .projects-filter-popup {
		position: relative;
		display: none;
	}
	
	.main-page .projects-filter-popup.active {
		position: fixed;
		inset: 0;
		z-index: 100000;
		display: block;
		padding: 20px;
		overflow-x: hidden;
		overflow-y: auto;
		background: var(--colorGrayBG);		
	}
	
	.projects-filter-popup .button-close {
		position: absolute;
		display: flex;
		justify-content: center;
		align-items: center;
		top: 25px;
		right: 10px;
		width: 60px;
		height: 60px;
		font-size: 80px;
		font-weight: 300;
	}
	
	.main-page .section--projects .projects-filter .categories__title-text {
		display: inline-block;
		padding: 10px 25px;
		font-weight: 700;
		/* line-height: 1.2; */
		background-color: var(--colorYellow);
		border-radius: 20px;
	}
	
	.main-page .section--projects .form-label_checkbox {
		max-width: calc(100% - (2 * 20px));
		max-width: 100%;
		margin-bottom: 0;
		padding: 8px 20px;
		background-color: var(--colorWhite);
		border-radius: 20px;
	}
	
	.main-page .section--projects .projects-filter .projects-filter__wrapper {
		display: flex;
/*		flex-direction: column;*/
		flex-wrap: wrap;
		column-gap: 30px;
		row-gap: 60px;
		padding: 0;
		border: none;
		transition: all 0.5s;
	}

	.main-page .section--projects .projects-filter .projects-filter__wrapper .categories-wrapper {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 20px;
		flex-grow: 0;
		flex-shrink: 0;
		max-width: 100%;
	}
	
	.main-page .section--projects .duplicate-checkboxes {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		column-gap: 24px;
		row-gap: 20px;
		margin: 20px 0 50px;
	}
	
	.projects-filter-popup .title--item {
		margin-bottom: 40px;
		font-size: 36px;
	}
	
	.filter-button-box .button {
/*		display: none;*/
		padding: 12.5px 25px;
		background-color: var(--colorYellow);
		border: none;
	}
	
	.filter-button-box .button .decor {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	
	.filter-button-box .button .button__text {
		font-weight: 700;
		text-transform: none;
	}

}
/* ↑↑↑ 767px ↑↑↑ */



@media (max-width: 640px) {
	
	.section--projects .slider__button-container {
		display: none;
	}
	
	.section--projects .slider__item-info  {
		align-items: center;
	}
	
	.section--projects .slider__item-title {
		padding-right: 0;
	}
	
	.section--projects .slider__item-link {
		margin: 0 auto;
	}
	
}
/* ↑↑↑ 640px ↑↑↑ */



@media (max-width: 534px) {

	.main-page .section--projects .ios-checkbox-wrapper {
		flex-shrink: 0;
		padding: 10px 10px 10px 5px;
	}
	
	.filter-button-box .button .button__text {
		font-size: 14px;
	}
	
}
/* ↑↑↑ 534px ↑↑↑ */



@media (max-width: 390px) {

    .filter-button-box {
		flex-direction: column;
		align-items: flex-start	;
		gap: 20px;
    }
	
}
/* ↑↑↑ 390px ↑↑↑ */