.section--reviews {
	
}

.section--reviews .title--section {
	margin-bottom: 0;
}

.section--reviews .reviews__inner {
	display: flex;
	gap: 40px;
}

.section--reviews .reviews__inner-left {
	flex-basis: calc((100% - 40px) / 3);
	max-width: calc((100% - 40px) / 3);
}

.section--reviews .reviews__inner-right {
	flex-basis: calc((100% - 40px) / 3 * 2);
	max-width: calc((100% - 40px) / 3 * 2);
}

.section--reviews .subtitle {
	margin: 10px 0 25px;
}

.section--reviews .reviews__items {
	display: flex;
	flex-wrap: wrap;
	gap: 25px;
}

.section--reviews .reviews__item {
	flex-basis: calc((100% - 25px) / 2);
	max-width: calc((100% - 25px) / 2);
	height: 0;
/*	padding: 40px 30px;*/
	padding: 0;
	background-color: var(--colorWhite);
	border-radius: 20px;
	opacity: 0;
    overflow: hidden;
    transition: opacity 1s, height 1s;
}

.section--reviews .reviews__item.visible {
	height: auto;
	padding: 40px 30px;
	opacity: 1;
	transition: opacity 1s, height 1s;
}

.section--reviews .reviews__item-head {
	display: flex;
	align-items: center;
	gap: 20px;
}

.section--reviews .reviews__item-logo {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-shrink: 0;
	width: 80px;
	height: 80px;
	padding: 10px;
	border: 1px solid var(--colorGrayOther);
	border-radius: 10px;
}

.section--reviews .reviews__item-logo .reviews__item-logo-image {
	
}

.section--reviews .reviews__item-reviewer {
	
}

.section--reviews .reviews__item-name {
	line-height: 1.2;
	color: var(--colorBlackFourth);
}

.section--reviews .reviews__item-place {
	font-size: 16px;
	font-weight: 400;
	line-height: 1.5;
	text-transform: uppercase;
	color: var(--colorBlackFourth);
}

.section--reviews .reviews__item-divider {
	width: 100%;
	height: 2px;
	margin: 20px 0;
	background-color: var(--colorGrayOtherwise);
}

.section--reviews .reviews__item-body {
	
}

.section--reviews .reviews__item-gallery {
	display: flex;
	align-items: center;
	gap: 10px;
	margin-bottom: 20px;
	padding-bottom: 10px;
	overflow-x: auto;
	scrollbar-width: thin;
	scrollbar-color: var(--colorGrayDefault) transparent;
}

.section--reviews .reviews__item-gallery-image {
	width: 130px;
	height: 130px;
	background-color: var(--colorGrayDefault);
	background-image: url("");
	border-radius: 10px;
}

.section--reviews .reviews__item-text {
	display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
	max-height: 72px;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.5;
	color: var(--colorBlackSeventh);
	transition: all 0.75s;
}

.section--reviews .reviews__item-text.visible {
	-webkit-line-clamp: unset;
	overflow: unset;
	max-height: 100%;
	transition: all 0.75s;
}

.section--reviews .reviews__items .show-more__text {
	text-transform: none;
}

.section--reviews .show-more__arrow {
	display: flex;
	justify-content: center;
	align-items: center;
}



/* --- ADAPTING --- */

@media (max-width: 1180px) {
	
	.section--reviews .reviews__items {
		gap: 15px;
	}
	
	.section--reviews .reviews__item {
		flex-basis: 100%;
		max-width: 100%;
	}

}
/* ↑↑↑ 1180px ↑↑↑ */



@media (max-width: 768px) {
	
	.section--reviews .reviews__inner {
		flex-direction: column;
		gap: 30px;
	}
	
	.section--reviews .reviews__inner-left {
		flex-basis: 100%;
		max-width: 100%;
	}
	
	.section--reviews .reviews__inner-right {
		flex-basis: 100%;
		max-width: 100%;
	}
	
	.section--reviews .reviews__items + .button.show-more, 
	.section--reviews .reviews__items + .button.show-more + .button.show-less {
		display: none !important;
	}
	
	.section--reviews .reviews__items {
/*		align-items: flex-start;*/
		flex-wrap: nowrap;
		gap: 10px;
		padding-bottom: 10px;
		overflow-x: auto;
		scrollbar-width: thin;
		scrollbar-color: var(--colorBlackSecondary) transparent;
	}
	
	.section--reviews .reviews__item {
		flex-basis: 90%;
		max-width: 90%;
		min-width: 90%;
		height: auto;
		padding: 25px 15px;
		opacity: 1;
		transition: opacity 1s, height 1s;
	}
	
	.section--reviews .reviews__item.visible {
		padding: 25px 15px;
	}
	
	.section--reviews .reviews__item-logo {
		width: 50px;
		height: 50px;
	}
	
	.section--reviews .reviews__item-gallery-image {
		width: 75px;
		height: 75px;
	}
	
	.section--reviews .reviews__item-name {
		font-size: 16px;
	}
	
	.section--reviews .reviews__item-place {
		font-size: 14px;
	}

}
/* ↑↑↑ 768px ↑↑↑ */



@media (max-width: 767px) {
	
	.section--reviews .reviews__items {
		align-items: flex-start;
	}

}
/* ↑↑↑ 767px ↑↑↑ */