.section--partners .title {
	text-align: center;
}

.partners__items {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap: 18px;
}

.partners__item {
	flex-basis: calc((100% - 5 * 18px) / 6);
	max-width: calc((100% - 5 * 18px) / 6);
	filter: grayscale(1);
	transition: all 1s;
}

.partners__item:hover {
	filter: grayscale(0);
	transform: scale(1.125);
}



/* --- ADAPTING --- */

@media (max-width: 1024px) {
	
	.partners__item {
		flex-basis: calc((100% - 3 * 18px) / 4);
		max-width: calc((100% - 3 * 18px) / 4);
	}

}
/* ↑↑↑ 1024px ↑↑↑ */



@media (max-width: 820px) {
	
	.partners__item {
		flex-basis: calc((100% - 2 * 18px) / 3);
		max-width: calc((100% - 2 * 18px) / 3);
	}

}
/* ↑↑↑ 820px ↑↑↑ */



@media (max-width: 767px) {
	
	.section--partners .title {
		margin-bottom: 10px;
	}
	
	.partners__items {
		flex-wrap: nowrap;
		padding-bottom: 10px;
		overflow-x: auto;
		scrollbar-width: thin;
		scrollbar-color: var(--colorBlackSecondary) transparent;
	}
	
	.partners__item {
		flex-basis: calc(((100% - 2 * 18px) / 3) - 20px);
		max-width: calc(((100% - 2 * 18px) / 3) - 20px);
		min-width: calc(((100% - 2 * 18px) / 3) - 20px);
	}

}
/* ↑↑↑ 767px ↑↑↑ */