.section--reasons {
	
}

.section--reasons .title--section {
	margin-bottom: 25px;
}

.section--reasons .subtitle {
	max-width: 50%;
/*	margin-bottom: 50px;*/
	margin: 25px 0 45px;
}

.section--reasons .reasons__items {
	display: flex;
	align-items: ;
	gap: 20px;
}

.section--reasons .reasons__item {
	display: flex;
	flex-direction: column;
	flex-basis: calc((100% - 2 * 20px) / 3);
	max-width: calc((100% - 2 * 20px) / 3);
	padding: 20px;
	background-color: var(--colorWhite);
	border-radius: 20px;
}

.section--reasons .title--item {
	display: flex;
	align-items: center;
	gap: 15px;
	font-size: 32px;
	line-height: 1.2;
	text-transform: none;
	color: var(--colorBlackSecondary);
}

/*
.section--reasons .title--item__text {
	text-transform: none;
}
*/

.section--reasons .title--item + .text {
	margin-top: 15px;
	margin-bottom: 30px;
	color: var(--colorBlackFourth);
}

/*
.section--reasons .item__link {
	margin-top: auto;
	margin-left: auto;
}
*/



/* --- ADAPTING --- */

@media (max-width: 1180px) {
	
	.section--reasons .title--item {
		font-size: 24px;
	}
	
}
/* ↑↑↑ 1180px ↑↑↑ */



@media (max-width: 991px) {
	
	.section--reasons .title--item {
		font-size: 20px;
	}
	
}
/* ↑↑↑ 991px ↑↑↑ */



@media (max-width: 820px) {
	
	.section--reasons .reasons__items {
		overflow-x: auto;
		scrollbar-width: thin;
		scrollbar-color: var(--colorBlackSecondary) transparent;
		padding-bottom: 10px;
	}
	
	.section--reasons .reasons__item {
		flex-basis: calc(((100% - 20px) / 2) - 20px);
		max-width: calc(((100% - 20px) / 2) - 20px);
		min-width: calc(((100% - 20px) / 2) - 20px);
	}

}
/* ↑↑↑ 820px ↑↑↑ */



@media (max-width: 767px) {
	
	.section--reasons .title--section {
		margin-bottom: 15px;
	}
	
	.section--reasons .subtitle {
		max-width: 100%;
		margin: 15px 0 35px;
	}
	
	.section--reasons .reasons__items {
		gap: 12px;
	}
	
	.section--reasons .reasons__item {
		flex-basis: calc(100% - 20px);
		max-width: calc(100% - 20px);
		min-width: 95%;
	}

}
/* ↑↑↑ 767px ↑↑↑ */