.section--about {
	
}

.section--about .title--section {
	margin-bottom: 0;
}

.about__inner-top {
	display: flex;
	align-items: center;
	gap: 45px;
	margin-bottom: 25px;
}

.about__inner-top .video {
	flex-basis: calc((100% - 45px) / 3);
	flex-shrink: 0;
}

.about__inner-top .video iframe {
	width: 100%;
    height: 100%;
	min-height: 400px;
	background: linear-gradient(45deg, black, transparent);
	border-radius: 20px;
}

.section--about .about__items {
	display: flex;
	gap: 15px;
}

.section--about .about__item {
	display: flex;
	gap: 25px;
	flex-basis: calc((100% - 2 * 30px) / 3);
	max-width: calc((100% - 2 * 30px) / 3);
	margin: 0 7.5px; /* 4slick */
	padding: 20px 20px 20px 30px;
	background-color: var(--colorWhite);
	border-radius: 20px;
}

.section--about .text_main {
	margin: 15px 0 35px;
}

.section--about .about__item-image {
	min-width: 100px;
	min-height: 100px;
	width: 100px;
	height: 100px;
/*	background: var(--colorGrayDefault);*/
}

.section--about .slick-arrow {
	min-width: 40px;
	border: none;
	border-radius: 10px;
	background-color: var(--colorWhite);
	background-size: 9px 12px;
	background-repeat: no-repeat;
	background-position: center center;
	transition: all 0.75s;
}


.section--about .slick-arrow.slick-prev {
	background-image: url("../../icons/main/about/icon-about-button-arrow-prev.svg");
	
}

.section--about .slick-arrow.slick-next {
	background-image: url("../../icons/main/about/icon-about-button-arrow-next.svg");
}

.section--about .slick-arrow:hover {
/*	filter: invert(.1);*/
	background-color: var(--colorBlackFifth);
}

.section--about .slick-arrow.slick-prev:hover {
	background-image: url("../../icons/main/about/icon-about-button-arrow-prev_hover.svg");
	
}

.section--about .slick-arrow.slick-next:hover {
	background-image: url("../../icons/main/about/icon-about-button-arrow-next_hover.svg");
}

.section--about .button-adapting {
	display: none;
}



/* --- ADAPTING --- */

@media (max-width: 1366px) {

	.about__inner-top {	
		gap: 20px;
	}
	
	.about__inner-top .video {
		flex-basis: calc((100% - 20px) / 2);
	}
	
	
}
/* ↑↑↑ 1366px ↑↑↑ */



@media (max-width: 991px) {

	.about__inner-top {
		flex-direction: column-reverse;
		gap: 0;
	}
	
	.about__inner-top .video {
		flex-basis: 100%;
		width: 100%;
	}
	
	.section--about .text_main {
		margin: 20px 0 35px;
	}
	
	.section--about .text_main + .button {
		display: none;
	}

	.section--about .button-adapting {
		display: block;
		margin: 35px 0;
	}

	.section--about .button-adapting .button {
		margin: 0 auto;
	}

}
/* ↑↑↑ 991px ↑↑↑ */



@media (max-width: 768px) {
	
	.section--about .button-adapting .button {
		width: 100%;
	}

}

/* ↑↑↑ 768px ↑↑↑ */



@media (max-width: 767px) {
	
	.section--about .about__items {
		gap: 12px;
		padding-bottom: 10px;
		overflow-x: auto;
		scrollbar-width: thin;
		scrollbar-color: var(--colorBlackSecondary) transparent;
	}
	
	.section--about .about__item {
		flex-basis: 95%;
		max-width: 95%;
		min-width: 95%;
		margin: 0;
	}

}
/* ↑↑↑ 767px ↑↑↑ */



@media (max-width: 640px) {
	
	.section--about .slick-arrow {
		display: none;
	}
	
	.section--about .about__item {
/*		margin: 0;*/
	}
		
}
/* ↑↑↑ 640px ↑↑↑ */