.section--news {
	
}

.section--news .news__inner {
	display: flex;
	gap: 35px;
}

.section--news .news__inner-left {
	flex-basis: calc((100% - 35px) * 0.6);
	max-width: calc((100% - 35px) * 0.6);
}

.section--news .news__inner-right {
	display: flex;
	flex-direction: column;
	gap: 20px;
	flex-basis: calc((100% - 35px) * 0.4);
	max-width: calc((100% - 35px) * 0.4);
}

.section--news .news__item {
	display: flex;
	align-items: stretch;
	flex-direction: row;
}

.section--news .news__inner-left .slider-container {
	height: 100%;
}

.section--news .news__item_main {
	display: flex;
	flex-direction: row;
	height: 100%;
}

.section--news .bullets {
    top: 20px;
	bottom: unset;
}

.section--news .slider__button-container {
	position: static;
	margin-top: auto;
}

.section--news .news__image-link {
	display: inline;
}

.news__image {
	width: 145px;
	height: 145px;
	border-radius: 20px;
}

.section--news .slider__item-info {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 20px;
}

.section--news .news__inner-left .slider__item-info {
	padding: 30px 25px 45px 45px;
}

.section--news .news__inner-left .slider__item-link {
	margin-left: unset;
	margin-top: unset;
}

.section--news .news__inner-right .slider__item-link {
	margin-left: unset;
}

/*
.section--news .news__item-divider {
	width: 120px;
	height: 2px;
	margin: 20px 0;
	background-color: var(--colorYellowOther);
}
*/

.section--news .slider__item-title {
	font-size: 32px;
	font-weight: ;
	line-height: 1;
	text-transform: unset;
	color: var(--colorBlackThird);
}

.section--news .news__inner-right .slider__item-title {
	padding: 0;
	font-size: 24px;
}

.section--news .news__inner-right .slider__item-title .slider__item-title-text {
	line-height: 1;
}

.section--news .slider__item-subtitle {
	margin-bottom: 15px;
	color: var(--colorGrayEither);
}

.section--news .news__item-date {
	margin-bottom: 5px;
	font-size: 16px;
	text-transform: uppercase;
	color: var(--colorBlackFourth);
}



/* --- ADAPTING --- */

@media (max-width: 1366px) {

	.section--news .news__item_main {
		flex-direction: column;
	}
	
	.section--news .news__inner-left .slider-container {
		height: 400px;
	}
	
	.news__image {
		height: 100%;
		min-height: 145px;
	}
	
	.section--news .news__inner-right .slider__item-title {
		margin-bottom: 20px;
	}
	
	.section--news .slider__button-container {
		margin-top: 20px;
	}
	
	
}
/* ↑↑↑ 1366px ↑↑↑ */



@media (max-width: 1180px) {
	
	.section--news .news__inner {
		flex-direction: column;
		gap: 25px;
	}

	
	.section--news .news__inner-left {
		flex-basis: 100%;
		max-width: 100%;
	}
	
	.section--news .news__inner-right {
		flex-basis: 100%;
		max-width: 100%;
	}

}
/* ↑↑↑ 1180px ↑↑↑ */



@media (max-width: 767px) {
	


}
/* ↑↑↑ 767px ↑↑↑ */



@media (max-width: 640px) {
	

		
}
/* ↑↑↑ 640px ↑↑↑ */