.section--production .title--section {
	margin-bottom: 10px;
}

.section--production .inner {
	display: flex;
	gap: 70px;
}

.section--production .inner-part_left {
	flex-basis: calc((100% - 70px) * 0.625);
	max-width: calc((100% - 70px) * 0.625);
}

.section--production .inner-part_right {
/*
	display: flex;
	flex-direction: column;
*/
    align-self: flex-end;
	flex-basis: calc((100% - 70px) * 0.375);
	max-width: calc((100% - 70px) * 0.375);
}

.section--production .title--item {
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 20px;
    line-height: 1.2;
    text-transform: none;
    color: var(--colorBlackSecondary);
}

.section--production .production-article {
    display: flex;
    align-items: stretch;
    flex-direction: row;
}

.section--production .production-article .title--item {
	padding: 0;
	font-size: 24px;
	line-height: ;
	text-transform: uppercase;
}

.section--production .slider__item-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
}

.section--production .production__items {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.section--production .production__item {
	padding: 45px 20px;
	background-color: var(--colorWhite);
	border-radius: 20px;
}

.section--production .production__texts {
	margin-bottom: 40px;
}

.section--production .production__texts .production__text {
	margin-bottom: 10px;
	font-size: 20px;
}

.section--production .production__texts .production__text:last-of-type {
	margin-bottom: 0;
}

.production-article__image-link {
	display: block;
	height: 100%;
	line-height: 0;
}

.section--production .production-article__image {
	max-width: 360px;
	max-height: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 20px;
}

.section--production .production-article .production__text {
	display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
}

.section--production .production-article .slider__item-link {
	margin-top: 5px;
}

.section--production .production__items-pre-title {
	margin-bottom: 25px;
	font-size: 24px;
	font-weight: 700;
	line-height: 1.2;
}

.section--production .production__texts.hidden {
	display: none;
}



/* --- ADAPTING --- */

@media (max-width: 1366px) {
	
	.section--production .inner-part_left, 
	.section--production .inner-part_right {
		flex-basis: calc((100% - 70px) * 0.5);
		max-width: calc((100% - 70px) * 0.5);
	}
	
	.section--production .inner-part_right {
		align-self: flex-start;
	}

	.section--production .production-article {
		flex-direction: column;
	}
	
	.section--production .production-article__image {
		max-width: 100%;
		width: 100%;
	}
	
	.section--production .production__texts {
		display: none;
	}
	
	.section--production .production__texts.hidden {
		display: block;
	}

}
/* ↑↑↑ 1366px ↑↑↑ */



@media (max-width: 1024px) {
	
	.section--production .inner {
		flex-direction: column-reverse;
		gap: 40px;
	}
	
	.section--production .inner-part_left, .section--production .inner-part_right {
		flex-basis: 100%;
		max-width: 100%;
		min-width: 100%;
	}
	
	.section--production .production-article {
		flex-direction: row;
	}
	
}
/* ↑↑↑ 1024px ↑↑↑ */



@media (max-width: 767px) {

	.section--production .production-article {
		flex-direction: column;
	}

	
}
/* ↑↑↑ 767px ↑↑↑ */