/*
.section--design {
	display: none;
}
*/

.section--design .tabs {
    position: relative;
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	gap: 50px;
}

.section--design .tab-buttons {
    display: flex;
	align-items: flex-start;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 20px;
	flex-basis: 100%;
	max-width: 100%;
}

.section--design .tab-button {
	width: max-content;
    padding: 20px;
    font-size: 20px;
	line-height: 1.2;
	white-space: nowrap;
	color: var(--colorBlackFourth);
	background-color: transparent;
    border: 1px solid var(--colorBlackFourth);
    border-radius: 1000px;
	cursor: pointer;
    transition: all 0.5s;
}

.section--design .tab-button:hover {
	color: var(--colorWhite);
	background-color: var(--colorBlackSeventh);
}

.section--design .tab-button.active {
	color: var(--colorWhite);
	background-color: var(--colorBlackFourth);
}

.section--design .tab {
    display: none;
	padding: 50px;
	background-color: var(--colorWhite);
	border-radius: 20px;
    opacity: 0;
    transition: all 0.4s;
}

.section--design .tab.active {
    display: block;
    opacity: 1;
}

.section--design .tab-content {
	flex-basis: calc((100% - 20px) / 2);
	max-width: calc((100% - 20px) / 2);
	flex-shrink: 0;
}

.section--design .tab-content__title {
	margin-bottom: 20px;
	font-size: 32px;
	line-height: 1.2;
	word-break: break-word;
	color: var(--colorBlackThird);
}

.section--design .tab-content__text {
	margin-bottom: 10px;
	font-size: 20px;
	color: var(--colorBlackSeventh);
}

.section--design .tab-content__text:last-of-type {
	margin-bottom: 0;
}

.section--design .button-box {
	gap: 20px;
}

.section--design .buttons-wrapper {
	position: absolute;
    right: 50%;
/*    transform: translateX(100%);*/
	transform: translateX(calc(100% + (20px / 2)));
	width: calc((100% - 20px) / 2);
	padding: 50px;
    background-color: var(--colorWhite);
    border-radius: 20px;
}

.section--design .buttons-wrapper.hidden {
	display: none;
}



/* --- ADAPTING --- */

@media (max-width: 1600px) {

	.section--design .tab-button {
		width: auto;
	}
	
}
/* ↑↑↑ 1600px ↑↑↑ */



@media (max-width: 1024px) {
	
	.section--design .tabs {
		flex-direction: column;
	}
	
	.section--design .tab-buttons {
		flex-direction: row;
		flex-wrap: nowrap;
		flex-basis: 100%;
		max-width: 100%;
		padding-bottom: 10px;
		overflow-x: auto;
		scrollbar-width: thin;
        scrollbar-color: var(--colorBlackSecondary) transparent;		
	}
	
	.section--design .tab-button {
/*		width: max-content;*/
		white-space: nowrap;
	}
	
	.section--design .tab-content {
/*
		flex-basis: 100%;
		max-width: 100%;
		min-width: 100%;
*/
	}
	
}
/* ↑↑↑ 1024px ↑↑↑ */



@media (max-width: 991px) {
	
	.section--design .tab-content {
		flex-basis: 100%;
		max-width: 100%;
		min-width: 100%;
	}

	.section--design .buttons-wrapper {
		display: none;
	}
	
	.section--design .buttons-wrapper.hidden {
		position: static;
		transform: unset;
		display: block;
    	width: auto;
		margin: 0 auto;
	}
	
	.section--design .button-box {
		justify-content: center;
	}
	
}
/* ↑↑↑ 991px ↑↑↑ */



@media (max-width: 767px) {
	
	.section--design .tabs {
		gap: 20px;
	}

	.section--design .tab-buttons {
		display: none;
	}

	.section--design .tab-content {
		display: flex;
		align-items: flex-start;
		flex-wrap: nowrap;
		gap: 12px;
		overflow-x: auto;
		padding-bottom: 10px;
		scrollbar-width: thin;
        scrollbar-color: var(--colorBlackSecondary) transparent;
	}
	
	.section--design .tab {
		display: block !important;
		opacity: 1 !important;
		min-width: 90%;
	}
	
	.section--design .buttons-wrapper.hidden {
    	width: 100%;
	}
	
}
/* ↑↑↑ 767px ↑↑↑ */



@media (max-width: 430px) {
	
	.section--design .tab {
		padding: 25px;
	}
	
}
/* ↑↑↑ 430px ↑↑↑ */