/*
.section--products {
	display: none;
}
*/

.section--products .tabs {
    position: relative;
	display: flex;
	align-items: flex-start;
	gap: 50px;
}

.section--products .tab-buttons {
    display: flex;
	align-items: flex-start;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 20px;
	flex-basis: calc((100% - 50px) / 2);
	max-width: calc((100% - 50px) / 2);
}

.section--products .tab-button {
	width: max-content;
    padding: 20px;
    font-size: 20px;
	line-height: 1.2;
	white-space: nowrap;
	color: var(--colorBlackFourth);
	background-color: transparent;
    border: 1px solid var(--colorBlackFourth);
    border-radius: 1000px;
	cursor: pointer;
    transition: all 0.5s;
}

.section--products .tab-button:hover {
	color: var(--colorWhite);
	background-color: var(--colorBlackSeventh);
}

.section--products .tab-button.active {
	color: var(--colorWhite);
	background-color: var(--colorBlackFourth);
}

.section--products .tab {
    display: none;
	padding: 50px;
	background-color: var(--colorWhite);
	border-radius: 20px;
    opacity: 0;
    transition: all 0.4s;
}

.section--products .tab.active {
    display: block;
    opacity: 1;
}

.section--products .tab-content {
	flex-basis: calc((100% - 50px) / 2);
	max-width: calc((100% - 50px) / 2);
	flex-shrink: 0;
}

.section--products .tab-content__title {
	margin-bottom: 20px;
	font-size: 32px;
	line-height: 1.2;
	color: var(--colorBlackThird);
}

.section--products .tab-content__text {
	margin-bottom: 10px;
	font-size: 20px;
	color: var(--colorBlackSeventh);
}

.section--products .tab-content__text:last-of-type {
	margin-bottom: 0;
}

.section--products .button-box {
	gap: 20px;
	margin-top: 45px;
}

.section--products .buttons-wrapper.hidden {
	display: none;
	padding: 50px;
    background-color: var(--colorWhite);
    border-radius: 20px;
}



/* --- ADAPTING --- */

@media (max-width: 1600px) {

	.section--products .tab-button {
		width: auto;
	}
	
}
/* ↑↑↑ 1600px ↑↑↑ */



@media (max-width: 1366px) {

	.section--products .tab-button {
/*        width: max-content;*/
		white-space: normal;
    }
	
}
/* ↑↑↑ 1366px ↑↑↑ */



@media (max-width: 1180px) {
	
	.section--products .tabs {
		flex-direction: column;
	}
	
	.section--products .tab-buttons {
		flex-direction: row;
		flex-wrap: nowrap;
		flex-basis: 100%;
		max-width: 100%;
		padding-bottom: 10px;
		overflow-x: auto;
		scrollbar-width: thin;
        scrollbar-color: var(--colorBlackSecondary) transparent;		
	}
	
	.section--products .tab-button {
/*		width: max-content;*/
		white-space: nowrap;
	}
	
	.section--products .tab-content {
		flex-basis: 100%;
		max-width: 100%;
		min-width: 100%;
	}
	
}
/* ↑↑↑ 1180px ↑↑↑ */



@media (max-width: 767px) {

	.section--products .tab-buttons {
		display: none;
	}

	.section--products .tab-content {
		display: flex;
		align-items: flex-start;
		flex-wrap: nowrap;
		gap: 12px;
		overflow-x: auto;
		padding-bottom: 10px;
		scrollbar-width: thin;
        scrollbar-color: var(--colorBlackSecondary) transparent;
	}
	
	.section--products .tab {
		display: block !important;
		opacity: 1 !important;
		min-width: 90%;
	}
	
	.section--products .buttons-wrapper.hidden {
		position: static;
		transform: unset;
		display: block;
    	width: 100%;
		margin: 0 auto;
	}
	
	.section--products .button-box {
		justify-content: center;
		margin-top: 0;
	}
	
}
/* ↑↑↑ 767px ↑↑↑ */



@media (max-width: 430px) {
	
	.section--products .tab {
		padding: 25px;
	}
	
}
/* ↑↑↑ 430px ↑↑↑ */