.gallery__inner {
    display: grid;
    grid-template-columns: repeat(100, 1fr);
    grid-template-rows: repeat(4, 275px);
	margin: -12.5px;
}

.gallery__item {
    position: relative;
    overflow: hidden;
	padding: 12.5px;
	box-sizing: border-box;
	cursor: pointer;
}

.gallery__item:nth-child(1) {
    grid-area: 1 / 1 / 3 / 56;
}

.gallery__item:nth-child(2) {
    grid-area: 1 / 56 / 2 / 71;
}

.gallery__item:nth-child(3) {
    grid-area: 1 / 71 / 2 / 101;
}

.gallery__item:nth-child(4) {
    grid-area: 2 / 56 / 3 / 71;
}

.gallery__item:nth-child(5) {
    grid-area: 2 / 71 / 3 / 101;
}

.gallery__item:nth-child(6) {
    grid-area: 3 / 1 / 4 / 16;
}

.gallery__item:nth-child(7) {
    grid-area: 3 / 16 / 4 / 46;
}

.gallery__item:nth-child(8) {
    grid-area: 4 / 1 / 5 / 16;
}

.gallery__item:nth-child(9) {
    grid-area: 4 / 16 / 5 / 46; 
}

.gallery__item:nth-child(10) {
    grid-area: 3 / 46 / 5 / 101;
}

.gallery__item-image {
	max-width: 100%;
	min-width: 100%;
    max-height: 100%;
    min-height: 100%;
    object-fit: cover;
	border-radius: 20px;
}

.gallery__item iframe {
	max-width: 100%;
	min-width: 100%;
    max-height: 100%;
    min-height: 100%;
}



/* OVERLAY */
.overlay {
    display: none;
    position: fixed;
	inset: 0;
/*
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
*/
	z-index: 100000;
    background: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
	cursor: pointer;
}

.overlay__content {
/*    position: relative;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.overlay__gallery {
    display: flex;
    align-items: center;
    justify-content: center;
}

.overlay__item {
/*    max-width: 60%;*/
    max-width: 80%;
/*    max-height: 50%;*/
    max-height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
	cursor: default;
    transition: opacity 0.25s;
}

.overlay .close {
    position: absolute;
    top: 0px;
    right: 20px;
    color: white;
    font-size: 60px;
    cursor: pointer;
    padding: 20px;
}

button.prev {
/*	margin-right: 10px;*/
} 

button.next {
/*	margin-left: 10px;*/
}

.overlay button.prev, 
.overlay button.next {
	margin: 10px;
}


.overlay__item {
    cursor: default;
}

.overlay__item:active {
    cursor: grabbing;
}


.fade-in {
    opacity: 1;
}

.fade-out {
    opacity: 0;
}

.no-scroll {
/*
	position: fixed;
	top: 0;
    left: 0;
    height: 100%;
	width: 100%;
*/
	overflow: hidden;
}



/* --- ADAPTING --- */

@media (max-width: 1024px) {
	
	.section--gallery .title--section {
		margin-bottom: 35px;
	}

	.gallery__inner {
		display: flex;
		flex-direction: column;
		margin: -12.5px;
	}
	
	.gallery-flex.mobile {
		display: grid !important;
		grid-template-columns: repeat(3, 1fr);
    	grid-template-rows: repeat(3, 215px);
		overflow-x: auto;
		padding-bottom: 0;
		scrollbar-width: thin;
        scrollbar-color: var(--colorBlackSecondary) transparent;
	}
	
	.gallery__item.desktop {
		display: none;
	}
	
	.gallery-flex.mobile .gallery__item {
		grid-area: auto;
		min-width: 55vw;
	}
	
	.gallery__item_video {
		position: relative;
		width: 100%;
		margin-bottom: 20px;
		padding: 0 0 56.25% 0;
		height: 0;
		overflow: hidden;
		border-radius: 20px;
	}
	
	.gallery__item_video iframe {
		position: absolute;
		top: 0;
/*		left: calc(((100vw - 980px) / 2) - 2 * 10px);*/
		left: 10px;
		width: 100%;
		height: 100%;
		border: 0;
		border-radius: 20px;
	}
	
}
/* ↑↑↑ 1024px ↑↑↑ */



@media (max-width: 767px) {
	
	.gallery__item_video iframe {
		left: calc(((100vw - 700px) / 2) - 2 * 10px);
	}

}
/* ↑↑↑ 767px ↑↑↑ */



@media (max-width: 640px) {
	
	.gallery-flex.mobile .gallery__item {
		grid-area: auto;
		min-width: 75vw;
	}
	
	.gallery__item_video iframe {
		left: 2.5%;
	}
	
}
/* ↑↑↑ 640px ↑↑↑ */