.section--banner-content-page .banner__inner {
	display: flex;
	gap: 80px;
}

.section--banner-content-page .banner__part-left {
	display: flex;
    flex-direction: column;
	flex-basis: calc((100% - 80px) - 33%);
	max-width: calc((100% - 80px) - 33%);
	flex-grow: 0;
	flex-shrink: 0;
}

.section--banner-content-page .banner__part-right {
	flex-basis: 33%;
	max-width: 33%;
	flex-grow: 0;
	flex-shrink: 0;
}

.section--banner-content-page .reasons__items {
    display: flex;
    align-items: ;
    gap: 20px;
	margin-top: auto;
}

.section--banner-content-page .reasons__item {
    display: flex;
    flex-direction: column;
/*
    flex-basis: calc((100% - 2 * 20px) / 3);
    max-width: calc((100% - 2 * 20px) / 3);
*/
	flex: 1 1 calc((100% - (20px * (var(--items-count) - 1))) / var(--items-count));
    max-width: calc((100% - (20px * (var(--items-count) - 1))) / var(--items-count));
    padding: 20px;
    background-color: var(--colorWhite);
    border-radius: 20px;
}

.section--banner-content-page .title--item {
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 24px;
    line-height: 1.2;
    text-transform: none;
    color: var(--colorBlackSecondary);
}

.section--banner-content-page .banner__part-right .title--item {
	text-transform: uppercase;
}

.section--banner-content-page .title--item__decor {
	flex-shrink: 0;
}

.section--banner-content-page .title--item + .text {
    margin-top: 15px;
/*    margin-bottom: 30px;*/
	font-size: 20px;
	line-height: 1.2;
    color: var(--colorBlackFourth);
}

.section--banner-content-page .content__button-box {
/*	margin-top: 50px;*/
	margin: 50px 0;
}

.section--banner-content-page .banner__part-left  .slider__item-tags {
	position: static;
	margin-bottom: 30px;
}

.section--banner-content-page .banner__part-right .slider-container {
    height: 480px;
}

.section--banner-content-page .banner__part-right .slider__item-pretext {
	margin-bottom: 10px;
	font-size: 20px;
	font-weight: 500;
	line-height: 1.5;
	color: var(--colorGrayOneMore);
}

.section--banner-content-page .reasons__items.hidden {
	display: none;
}



/* --- ADAPTING --- */

@media (max-width: 1366px) {
	
	.section--banner-content-page .reasons__items {
		display: none;
	}
	
	.section--banner-content-page .reasons__items.hidden {
		display: flex;
		margin-top: 20px;
	}
	
}
/* ↑↑↑ 1366px ↑↑↑ */


	
@media (max-width: 1180px) {
	
	.section--banner-content-page .banner__inner {
		gap: 20px;
	}
	
	.section--banner-content-page .banner__part-left, 
	.section--banner-content-page .banner__part-right {
		flex-basis: calc((100% - 20px) / 2);
		max-width: calc((100% - 20px) / 2);
	}
	
	.section--banner-content-page .reasons__item {
		flex: 1 1 calc((100% - (20px * (var(--items-count) - 1))) / var(--items-count));
    	max-width: calc((100% - (20px * (var(--items-count) - 1))) / var(--items-count));
	}
	
	.section--banner-content-page .content__button-box {
		flex-direction: column;
	}
	
}
/* ↑↑↑ 1180px ↑↑↑ */



@media (max-width: 991px) {
	
	.section--banner-content-page .banner__inner {
		flex-direction: column;
	}
	
	.section--banner-content-page .banner__part-left, .section--banner-content-page .banner__part-right {
		flex-basis: 100%;
		max-width: 100%;
	}
	
	.section--banner-content-page .content__button-box {
		flex-direction: row;
	}
	
}
/* ↑↑↑ 991px ↑↑↑ */



@media (max-width: 820px) {
	
	.section--banner-content-page .reasons__items {
		padding-bottom: 10px; 
		overflow-x: auto;
		scrollbar-width: thin;
		scrollbar-color: var(--colorBlackSecondary) transparent;
	}
	
	.section--banner-content-page .reasons__item {
		flex-basis: 66%;
		max-width: 66%;
		min-width: 66%;
	}

}
/* ↑↑↑ 820px ↑↑↑ */



@media (max-width: 767px) {
	
	.section--banner-content-page .reasons__item {
		flex-basis: 90%;
		max-width: 90%;
		min-width: 90%;
	}
	
	.section--banner-content-page .content__button-box {
		margin: 25px 0;
	}
	
	.section--banner-content-page .banner__part-left  .slider__item-tags {
		margin-bottom: 55px;
	}

}
/* ↑↑↑ 767px ↑↑↑ */



@media (max-width: 534px) {
	
	.section--banner-content-page .content__button-box .button {
		width: 100%;
	}

}
/* ↑↑↑ 534px ↑↑↑ */